<div class="container">
  <div class="nav2 row m1">
    <div style="text-align: left;" class="col-lg-8 col-md-9 col-9">Your Quote Enquiry</div>
    <div style="text-align: left;" class="col-lg-4 col-md-3 col-3">Contact</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-8 col-12">
      <!-- Disclaimer Content -->
      <div class="s3">
        <b>If you are ready to confirm your order, please click the submit button.<br>
          Once we confirm your payment, the prop[s] will be reserved for your event date.</b>
        <br>
        We will send you your Final Invoice before your event date (to be paid please by Eftpos or Bank Transfer).
        <br>
        A bond is payable on all hire props, starting from $150.00 and will be increased depending on the value of props that you hire. Bonds are fully refundable once the prop[s] is/are returned in their original condition, minus fair wear and tear.
        <br><br>
        The minimum hire spending price is $50.00 if you wish to hire items between Tuesdays and Thursdays.
        <br>
        There is no minimum hire spending price on weekends, as long as props are returned by the following Monday.
        <br><br>
        <b>Pick-up and Drop-off Times:</b>
        <br>
        Pick-up: Friday 10:00-2:00
        <br>
        Return: Monday 10:00-2:00
        <br><br>
        <b>Please let us know if you wish to pick up your prop[s] outside of normal working hours.</b>
        <br><br>

        <b>Pick-up and Drop-off Address:</b>
          <br>
        21 Ashwood Avenue, Dairy Flat, &nbsp;  0792
        <br><br>
        
        Please note:  <br>
        
        	Prices listed on our website include GST.<br>
        	The standard hire period on all items is 3 calendar days.<br>
        	We ask that you clean your prop[s] before returning it/them to us (e.g. marks, fingerprints, stickers) otherwise there will be a $25.00 cleaning fee charge.
        



<!-- 
        <b> Please note:<br>

          *Prices listed on the website include GST.
          <br>
          *The standard hire period on all items is 3-calendar-day.
          <br>
          *Please make sure you have cleaned the props before you return (eg. stickers, lines, </b>
        <br><br> -->
        <!-- If you have any questions please contact the team on :<br> -->
        <!-- Phone: 021 087 93899<br>
Email: info@luxedreameventhire.co.nz<br> -->
        Please also refer to our FAQ and Terms and Conditions.<br>
      </div>
      <br>
      <div style="text-align: left;" class="m1">Shopping Bag</div>
      <app-shopping-cart (Coupon)="setCoupon($event)" (EventStartDate)="StartDate($event)"
        (EventEndDate)="EndDate($event)" [isPickup]="isPickup" [district]="district"></app-shopping-cart>
    </div>
    <div class="col-lg-4 col-12">
      <app-shopping-userinfo (isPickup)="pickupOrdelievery($event)" (district)="districtOption($event)"
        [Coupon]="Coupon" [EventStartDate]="EventStartDate" [EventEndDate]="EventEndDate"></app-shopping-userinfo>
      <br>
    </div>
  </div>
</div>