<nav>
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" id="1" routerLink='/admin/adminDashboard'>
					<i class="fas fa-user-cog"></i>
					Dashboard <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item" *ngFor="let item of displayedProductTypes, index as i"
				(click)="updatePanel(item.typeName)">
				<a class="nav-link" id="2" [routerLink]="[ '/admin/adminProducts/', item.prodTypeId]"
					*ngIf="navBarIconArray">
					<i class={{navBarIconArray[i].Icon}}></i>
					{{item.typeName}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="5" routerLink='/admin/adminGalleries'>
					<i class="fas fa-folder-open"></i>
					Gallery
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="6" routerLink='/admin/adminFaq'>
					<i class="far fa-question-circle"></i>
					Faq
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="7" routerLink='/admin/adminCarts'>
					<i class="fas fa-shipping-fast"></i>
					Orders
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="7" routerLink='/admin/adminImages'>
					<i class="far fa-images"></i>
					Images
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="8" routerLink='/admin/adminUserlist'>
					<i class="fas fa-users"></i>
					Users
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" id="8" routerLink='/admin/admincontactlist'>
					<i class="fas fa-users"></i>
					Contacts
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" id="8" routerLink='/admin/video'>
					<i class="fas fa-users"></i>
					Video
				</a>
			</li>
		</ul>
	</div>
</nav>