.card {
    min-height: 350px;
    width: 500px;
    margin: 0 auto;
    margin-top: 3%;
}
.card-body {
    width: 100%;
    color: green;
    font-size:x-large;
    padding-top: 100px;

}
.card-header {
    background-color: #c48f45;
    color: white;
    text-align: center;
}
#buttonsWrap{
    margin-top:20px
}