<div style="text-align:center;padding-top:4%;">
    <h1>Welcome to Dashboard</h1><br>
    <hr><br>
    <!-- Edit productCategory -->
    <div class="row ">
      <div class="col-6">
        <h2>Edit Categories </h2>
          <form [formGroup]="categoryForm">
              <div formArrayName="categoryItems">
                  <div *ngFor="let cate of categoryForm.controls.categoryItems.controls, index as i">
                      <div [formGroupName]="i">
                      <input class="col-6" type="text" formControlName="categoryName" placeholder="Category name">
                      <i class="fas fa-trash-alt col-1 text-center" (click)="deleteCate(cate,i)"></i>
                      </div>
                  </div>
              </div>
          </form>
          <!-- category is loading... -->
          <div *ngIf="isLoadingCategory">
            Loading categories...
              <div class="spinner-border text-info" role="status">
                  <span class="sr-only">Loading...</span>
              </div>    
          </div>

          <div class="mt-4">            
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addCategory()" [disabled] = "isLoadingCategory == true">Add new category</button>
            <button class="btn btn-outline-secondary btn-sm ml-5" (click)="updateCategory()" [disabled] = "isLoadingCategory == true">Save changes</button>
          </div>
         <div>{{feedbackMessage}}</div>
      </div>
    </div><br><br>
    </div>
    