<div class="container-fluid">
  <div class="row">  <iframe class="mapImg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.508387643851!2d174.68454671540093!3d-36.9021073901993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d414a50be5cf7%3A0x2bfed5f010fe7dbe!2s25+Stock+St%2C+New+Lynn%2C+Auckland+0600!5e0!3m2!1sen!2snz!4v1552007978235" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div class="container-fluid">
  <div class=" px-0 px-md-5 mx-2">
  <div class="row py-5">
    <!-- facebook -->
    <div class="col-12 col-md-4">
      <div class="l2 pb-3">Get Social</div>
      <div class="row" id="socialIcons">
        <div class="col-3"><i class="fab fa-facebook-square p-2 rounded"></i></div>
        <div class="col-3"><i class="fab fa-instagram p-2 rounded"></i></div>
      </div>
      <div class="l2 mt-5 pb-3">Contact Info</div>
      <div class="row py-2"> 
        <div class="col-12 s2">
          <img src="../../../../assets/images/locationIcon.jpg" alt="" style="height:26px;width:26px;">&nbsp;&nbsp;&nbsp;&nbsp;19 Hillside Rd, Wairau Valley, Auckland 0627
        </div>
      </div>
      <div class="row py-2">
        <div class="col-12 s2">
          <img src="../../../../assets/images/phoneIcon.png" alt="" style="height:26px;width:26px;">&nbsp;&nbsp;&nbsp;&nbsp;02108547654
        </div>
      </div>
      <div class="row py-2">
        <div class="col-12 s2">
          <img src="../../../../assets/images/gmailLogo.png" alt="" style="height:20px;width:26px;">&nbsp;&nbsp;&nbsp;&nbsp;yuxiaochen1987@outlook.com
        </div>
      </div>
    </div>

    <!-- form -->
    <div class="col-12 col-md-8">
      <div class="row mb-4"><div class="col-12 l2">Get in touch with us</div> </div>
      <form class="col-12" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" style="padding-left:0;">
        <div class="row">
          <div class="col-12 col-md-6">
            <!-- name -->
              <div class="form-group">  
                  <div class="invalid_feedback" *ngIf="name.errors?.required && name.touched">Please enter your Name</div>
                  <div class="invalid_feedback" *ngIf=" name.errors?.minlength && name.touched ">
                     Your name shall be at least 2 characters
                  </div>
                  <input class="form-control" type="name" required minlength="2" name="name" placeholder="Name *"
                  [ngClass]="{'is-invalid':name.errors?.required && name.touched}" [(ngModel)]="contactFrom.name" #name="ngModel">
               </div>
              <!-- email -->
               <div class="form-group">
                  <div class="invalid_feedback" *ngIf="email.errors?.required && email.touched">Please enter your Email</div>
                  <div class="invalid_feedback" *ngIf="email.errors?.pattern && email.touched">Incorrect Email entered</div>
                  <input class="form-control" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" minlength="6" name="email" placeholder="Email *" 
                  [ngClass]="{'is-invalid':email.errors?.required && email.touched}" [(ngModel)]="contactFrom.email" #email="ngModel">
               </div>
               <!-- phone number -->
               <div class="form-group">
                  <div class="invalid_feedback" *ngIf="phone.errors?.required && phone.touched">Please enter your Phone number</div>
                  <div class="invalid_feedback" *ngIf="phone.errors?.pattern && phone.touched">
                     Please enter the correct Phone number.
                  </div>
                  <input class="form-control" type="tel" required pattern="[0-9]{7,15}" minlength="7" name="phone" placeholder="Phone number *" 
                  [ngClass]="{'is-invalid':phone.errors?.required && phone.touched}" [(ngModel)]="contactFrom.phone" #phone="ngModel">
               </div>
               <!-- company -->
              <div><input class="form-control" type="text" placeholder="Company"  [(ngModel)]="contactFrom.company" name="company"></div>
               <!-- date of event -->
               <div>
               <mat-form-field style="width:100%">
                  <input matInput [matDatepicker]="myDatepicker" [min] = "minDate" placeholder="Date of event" type="dateOfEvent" required name="dateOfEvent"
                  [ngClass]="{'is-invalid':dateOfEvent.errors?.required && dateOfEvent.touched}" [(ngModel)]="contactFrom.dateOfEvent" #dateOfEvent="ngModel">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                  <mat-error *ngIf="dateOfEvent.invalid">Please enter a Date</mat-error>
                </mat-form-field>
              </div>
              <!-- location of event -->
              <div class="form-group">  
                <div class="invalid_feedback" *ngIf="locationOfEvent.errors?.required && locationOfEvent.touched">Please enter Location</div>
                <input class="form-control" type="locationOfEvent" required name="locationOfEvent" placeholder="Location of event *"
                [ngClass]="{'is-invalid':locationOfEvent.errors?.required && locationOfEvent.touched}" [(ngModel)]="contactFrom.locationOfEvent" #locationOfEvent="ngModel">
             </div>


          </div>

          <div class="col-12 col-md-6">
            <!-- how do you find use -->
            <div class="form-group">  
                <div class="invalid_feedback" *ngIf="findUs.errors?.required && findUs.touched">Please enter the field.</div>              
                <select class="custom-select form-control" placeholder="find us" type="findUs" required name="findUs"
                [ngClass]="{'is-invalid':findUs.errors?.required && findUs.touched}" [(ngModel)]="contactFrom.findUs" #findUs="ngModel">
                    <option value="" disabled selected>How did you find us *</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
             </div>
                <!-- type of event -->
            <div class="form-group">  
                <div class="invalid_feedback" *ngIf="eventType.errors?.required && eventType.touched">Please enter Type of event</div>
                <select class="custom-select form-control"  type="eventType" required name="eventType"
                [ngClass]="{'is-invalid':eventType.errors?.required && eventType.touched}" [(ngModel)]="contactFrom.eventType" #eventType="ngModel">
                <option value="" disabled selected>Type of event *</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>             
            <!-- message -->
            <div class="form-group">  
                <div class="invalid_feedback" *ngIf="message.errors?.required && message.touched">Please enter Message</div>
                <div class="invalid_feedback" *ngIf=" message.errors?.minlength && message.touched ">
                    Message shall be at least 4 characters
                </div>
                <textarea class="form-control" rows="5" type="message" required minlength="2" name="message" placeholder="Message *"
                [ngClass]="{'is-invalid':message.errors?.required && message.touched}" [(ngModel)]="contactFrom.message" #message="ngModel">
                </textarea>
              </div>
              <div>{{feedback_message}}</div>
             <button class="btn btn-outline-gold float-right" type="submit" >Submit</button>
          </div>
        </div>
      </form>
    </div>

    </div>
  </div>
  </div>

  <!-- <div class="container">
    <span class="l0">This is l0</span><br/>
    <span class="l1">This is l1</span><br/>
    <span class="l2">This is l2</span><br/>
    <span class="m1">This is m1</span><br/>
    <span class="m2">This is m2</span><br/>
    <span class="s1">This is s1</span><br/>
    <span class="s1gold">This is s1gold</span><br/>
    <span class="s1bold">This is s1bold</span><br/>
    <span class="s1goldbold">This is s1goldbold</span><br/>

    <span class="s2">This is s2</span><br/>
    <span class="s2bold">This is s2bold</span><br/>
    <span class="s2gold">This is s2gold</span><br/>
    <span class="s2goldbold">This is s2goldbold</span><br/>

    <span class="s3">This is s3</span><br/>
    <span class="s3bold">This is s3bold</span><br/>
    <span class="s3gold">This is s3gold</span><br/>

  </div> -->