<div class="container-fluid">
  <div class="row">  <iframe class="mapImg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7880.475705276425!2d174.73684919358607!3d-36.77417950167517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d399888fe1c79%3A0x939eff2509a7b5b9!2s19+Hillside+Rd%2C+Wairau+Valley%2C+Auckland+0627!5e0!3m2!1sen!2snz!4v1553138191305" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div class="container-fluid">
  <div class=" px-0 px-md-5 mx-2">
  <div class="row py-5">
    <!-- facebook -->
    <div class="col-12 col-md-4">
      <div class="l2 pb-3">Get Social</div>
      <div class="row" id="socialIcons">
        <div class="col-3"><a href="https://www.facebook.com/Luxedreameventhire/" target="_blank"><i class="fab fa-facebook-square p-2 rounded"></i></a></div>
        <div class="col-3"><a href="https://www.instagram.com/luxedreameventhire/" target="_blank"><i class="fab fa-instagram p-2 rounded"></i></a></div>
      </div>
      <div class="l2 mt-5 pb-3">Contact Info</div>
      <div class="row py-2"> 
        <div class="col-12 s2">
          <img src="../../../../assets/images/locationIcon.jpg" alt="" style="height:26px;width:26px;">&nbsp;&nbsp;&nbsp;&nbsp;19 Hillside Rd, Wairau Valley, Auckland 0627
        </div>
      </div>
      <div class="row py-2">
        <div class="col-12 s2">
          <img src="../../../../assets/images/phoneIcon.png" alt="" style="height:26px;width:26px;">&nbsp;&nbsp;&nbsp;&nbsp;(64)2108547654
        </div>
      </div>
      <div class="row py-2">
        <div class="col-12 s2">
          <img src="../../../../assets/images/gmailLogo.png" alt="" style="height:20px;width:26px;">&nbsp;&nbsp;&nbsp;&nbsp;luxedreameventhire@gmail.com
        </div>
      </div>
    </div>

    <!-- form -->
    <div class="col-12 col-md-8" *ngIf="emailSent == true">
      <div class="alert alert-success" role="alert">Thank you for contacting us, we'll be in touch very shortly.</div>
    </div>
    <div class="col-12 col-md-8" *ngIf="emailSent == false">
      <div class="row mb-4"><div class="col-12 l2">Get in touch with us</div> </div>
      <form class="col-12" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" style="padding-left:0;">
        <div class="row">
          <div class="col-12 col-md-6">
            <!-- name -->
              <div class="form-group">  
                  <div class="invalid_feedback" *ngIf="name.errors?.required && name.touched">Please enter your Name</div>
                  <div class="invalid_feedback" *ngIf=" name.errors?.minlength && name.touched ">
                     Your name shall be at least 2 characters
                  </div>
                  <input class="form-control s2" type="name" required minlength="2" name="name" placeholder="Name *"
                  [ngClass]="{'is-invalid':name.errors?.required && name.touched}" [(ngModel)]="contactFrom.name" #name="ngModel">
               </div>
              <!-- email -->
               <div class="form-group">
                  <div class="invalid_feedback" *ngIf="email.errors?.required && email.touched">Please enter your Email</div>
                  <div class="invalid_feedback" *ngIf="email.errors?.pattern && email.touched">Incorrect Email entered</div>
                  <input class="form-control s2" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" minlength="6" name="email" placeholder="Email *" 
                  [ngClass]="{'is-invalid':email.errors?.required && email.touched}" [(ngModel)]="contactFrom.email" #email="ngModel">
               </div>
               <!-- phone number -->
               <div class="form-group">
                  <div class="invalid_feedback" *ngIf="PhoneNumber.errors?.required && PhoneNumber.touched">Please enter your Phone number</div>
                  <div class="invalid_feedback" *ngIf="PhoneNumber.errors?.pattern && PhoneNumber.touched">
                     Please enter the correct Phone number.
                  </div>
                  <input class="form-control s2" type="tel" required pattern="[0-9]{7,15}" minlength="7" name="PhoneNumber" placeholder="Phone number *" 
                  [ngClass]="{'is-invalid':PhoneNumber.errors?.required && PhoneNumber.touched}" [(ngModel)]="contactFrom.PhoneNumber" #PhoneNumber="ngModel">
               </div>
               <!-- company -->
              <div><input class="form-control s2" type="text" placeholder="Company"  [(ngModel)]="contactFrom.company" name="company"></div>
               <!-- date of event -->
               <div>
               <mat-form-field style="width:100%">
                  <input matInput [matDatepicker]="myDatepicker" [min] = "minDate" placeholder="Date of event" type="dateOfEvent" required name="dateOfEvent"
                  [ngClass]="{'is-invalid':dateOfEvent.errors?.required && dateOfEvent.touched}" [(ngModel)]="contactFrom.dateOfEvent" #dateOfEvent="ngModel">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                  <mat-error *ngIf="dateOfEvent.invalid">Please enter a Date</mat-error>
                </mat-form-field>
              </div>
              <!-- location of event -->
              <div class="form-group">  
                <div class="invalid_feedback" *ngIf="LocationOfEvent.errors?.required && LocationOfEvent.touched">Please enter Location</div>
                <input class="form-control s2" type="LocationOfEvent" required name="LocationOfEvent" placeholder="Location of event *"
                [ngClass]="{'is-invalid':LocationOfEvent.errors?.required && LocationOfEvent.touched}" [(ngModel)]="contactFrom.LocationOfEvent" #LocationOfEvent="ngModel">
             </div>


          </div>

          <div class="col-12 col-md-6">
            <!-- how do you find use -->
            <div class="form-group">  
                <div class="invalid_feedback" *ngIf="findUs.errors?.required && findUs.touched">Please enter the field.</div>              
                <input class="form-control s2" type="findUs" required name="findUs" placeholder="How did you find about us?*"
                [ngClass]="{'is-invalid':findUs.errors?.required && findUs.touched}" [(ngModel)]="contactFrom.findUs" #findUs="ngModel">
             </div>
                <!-- type of event -->
            <div class="form-group">  
                <div class="invalid_feedback" *ngIf="TypeOfEvent.errors?.required && TypeOfEvent.touched">Please enter Type of event</div>
                <select class="custom-select form-control s2"  type="TypeOfEvent" required name="TypeOfEvent"
                [ngClass]="{'is-invalid':TypeOfEvent.errors?.required && TypeOfEvent.touched}" [(ngModel)]="contactFrom.TypeOfEvent" #TypeOfEvent="ngModel">
                <option value="" disabled selected>Type of event *</option>
                    <option value="1">Wedding</option>
                    <option value="2">Birthday Party</option>
                    <option value="3">Children's Birthday Party</option>
                    <option value="4">Girls Night</option>
                    <option value="5">Bachelor & Bachelorette Party</option>
                    <option value="6">Corporate Event</option>
                    <option value="7">Other Event</option>


                  </select>
              </div>             
            <!-- message -->
            <div class="form-group">  
                <div class="invalid_feedback" *ngIf="message.errors?.required && message.touched">Please enter Message</div>
                <div class="invalid_feedback" *ngIf=" message.errors?.minlength && message.touched ">
                    Message shall be at least 4 characters
                </div>
                <textarea class="form-control s2" rows="5" type="message" required minlength="2" name="message" placeholder="Message *"
                [ngClass]="{'is-invalid':message.errors?.required && message.touched}" [(ngModel)]="contactFrom.message" #message="ngModel">
                </textarea>
              </div>
              <div>{{feedback_message}}</div>
              <!-- Sending Email -->
              <div *ngIf="isSendingEmail">
                Sending Email, Please wait...
                <div class="spinner-border text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
             <button class="btn btn-outline-gold float-right" type="submit" [disabled] = "isSendingEmail" >Submit</button>
          </div>
        </div>
      </form>
    </div>

    </div>
  </div>
  </div>
