<!-- Sign up form for users -->
<div class=wrap>
	<div id="LogoWrap">
		<img src="../../../../assets/images/Asset1-4x-mid.png" alt="logo" width="100px">
		<hr>
		<h5 mat-dialog-title>Welcome to Luxe Dream!</h5>
	</div>

	<form [formGroup]="informationForm" (ngSubmit)="onSubmit()">
		<mat-dialog-content>
			<mat-form-field>
				<input matInput placeholder="Email address" formControlName="email" required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Phone number" formControlName="phone" required>
				<mat-error *ngIf="phone.invalid">{{getErrorMessage2()}}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="How did you find about us?" formControlName="channel">
			</mat-form-field>
		</mat-dialog-content>
		<div style="color:#c48f45">Subscribe to your mailing list now to get 10% off your first order !</div>
		<mat-dialog-actions>
			<div id="ButtonsWrap" class="mb-3">
				<button mat-raised-button color="basic" mat-dialog-close>Cancel</button>
				<button mat-raised-button type="submit" [disabled]="!this.informationForm.valid"
					class="mx-2 primaryButton">Subscribe</button>
			</div>
		</mat-dialog-actions>
		<hr>
	</form>
</div>