#wrap {
    width: 100%;
    margin: 0 auto;
}

#LogoWrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#FormWrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#ButtonsWrap {
    text-align: center;
    margin-top: 10px;
}

.primaryButton {
    background-color: #c48f45;
    color: white;
}

mat-form-field {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    cursor: pointer;
    color: #c48f45;
    text-decoration: underline;
}

p {
    color: #c48f45;
}
