<div class="card">
	<div class="card-header">
		<h4>James Bond</h4>	
	</div>
	<div class="card-body bg-light text-center">
		<form>
			<mat-form-field>
				<input matInput placeholder="First Name" value="James">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Last Name" value="Bond">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Email Address" value="jamesbond@mi6.com">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Phone No." value="1234567">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Company" value="MI6">
			</mat-form-field>
		
			<div id="buttonsWrap" class="mt-2">
				<button mat-raised-button class="primaryButton" routerLink='/home'>Update</button>
			</div>
		</form>
	</div>

	<h5 style="margin: 0 auto; margin-top: 30px;">Current Users:</h5><hr>
	<ul *ngFor="let profile of profile" class="text-center" style="list-style: none; padding: 0;">
		
		<li>
			<h5>{{ profile.fname }} {{ profile.lname }}</h5>
			<p>Email: {{ profile.email }}</p>

		</li>
		<hr>
	</ul>
</div>

<style>
	mat-form-field	{
		display: block;
	}
	p {
		font-size: 1.1rem;
	}
	span {
		color: #c48f45;
	}
	form {
		width: 50%;
		margin: 0 auto;
	}
	.card {
		min-height: 350px;
		width: 500px;
		margin: 0 auto;
		margin-top: 3%;
	}
	.card-body {
		width: 100%;
	}
	.card-header {
		background-color: #c48f45;
		color: white;
		text-align: center;
	}
	.slide {
		margin: 0 auto;
		margin: 30px 0px 30px 0px;
		text-align: center;
	}
	.primaryButton {
		background-color: #c48f45;
		color: white;
	}
	#buttonsWrap {
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
</style>