<div *ngIf="!userProfile['userInfo'][0]" class="text-center mt-5">
	<h5 style="color: red;">Error</h5><br>
	<p>User Contact ID For This Account Not Found ! <br>Please Check Database</p>
</div>

<div class="container-fluid" *ngIf="userProfile['userInfo'][0]">
	<div class="row">
		<h3 mat-dialog-title>
			User #<b>{{ userProfile.id }}</b>
		</h3>
	</div>
	<hr>
	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-6">
				<div style="color:red;" *ngIf="errorMessage">{{errorMessage}}</div>
				<mat-form-field>
					<input matInput class="form-control" formControlName="firstName" placeholder="First Name">
					<!-- <mat-error *ngIf="firstName.invalid">{{getErrorMessagefname()}}</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<input matInput matInput class="form-control" formControlName="lastName" placeholder="Last Name">
					<!-- <mat-error *ngIf="lastName.invalid">{{getErrorMessageLname()}}</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<input matInput class="form-control" formControlName="email" placeholder="Email Address">
				</mat-form-field>

				<mat-form-field>
					<input matInput class="form-control" formControlName="phoneNumber" placeholder="Phone No.">
					<!-- <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhone()}}</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<input matInput class="form-control" formControlName="company" placeholder="Company">
					<!-- <mat-error *ngIf="company.invalid">{{getErrorMessageCom()}}</mat-error> -->
				</mat-form-field>
				打折量 0.7 = 7折, 0.25 = 2.5折， 1 = 没折， 0 = 免费"
				<input type="number" class="form-control" formControlName="discount" step="0.01" max=1 min=0>

			</div>

			<div class="col-6">
				<mat-form-field>
					<textarea matInput formControlName="comments" placeholder="Comments & Terms"
						style="min-height: 115px;"></textarea>
					<mat-error *ngIf="comments.invalid">{{getErrorMessageComments()}}</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="website" placeholder="公司网站">
				</mat-form-field>

				<mat-form-field>
					<input matInput formControlName="socialMedia" placeholder="公司 媒体 地址">
				</mat-form-field>

				<mat-form-field>
					<input matInput formControlName="nzbn" placeholder="NZBN 号">
				</mat-form-field>

				<mat-form-field>
					<input matInput formControlName="businessInfo"
						placeholder="公司介绍 / 更多信息">
				</mat-form-field>
			</div>
		</div>

		<div *ngIf="this.profileForm.valid && errorMessage" class="alert alert-danger mt-2 text-center s2" role="alert">
			{{errorMessage}}
		</div>

		<div id="ButtonsWrap" class="mt-3">
			<button mat-raised-button color="basic" mat-dialog-close>Cancel</button>
			<button mat-raised-button type="submit" class="primaryButton mx-2">Update</button>
		</div>
	</form>
</div>