<div class="container-fluid">
  <div class="px-0 px-md-5 mx-2">
  <div class="row my-3 pb-4 l1 text-center"><div class="col-12">FAQ</div></div>
  <div id="panel panel-default">
      <div class="card" *ngFor='let question of questions; index as i'>
        <div class="card-header">
          <h5 class="mb-0">
            <a class="s1 collapsed" data-toggle="collapse" href="#collapse{{i}}">
              <i class="fa"></i> {{question.question}}
            </a>
          </h5>
      </div>
        <div id="collapse{{i}}" class="collapse">
          <div class="card-body s2"><b>A.</b> {{question.answer}}</div>
        </div>
    </div>
  </div>
</div>
</div>
