<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom p-0 lspace-3">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav col-lg-10 ul-menu d-flex  justify-content-around">
      <!--!Home-->
      <li class="nav-item">
        <a *ngIf="isBrowser==true" class="nav-link s2bold" routerLink='/' routerLinkActive="active">
          <h1 class="s2bold nav-link-title">Home</h1>
        </a>
        <a *ngIf="isBrowser==false" class="nav-link s2bold" href='http://luxedreameventhire.co.nz/'>
          <h1 class="s2bold nav-link-title">Home</h1>
        </a>
      </li>
     
      <!--!Hire dropdown-->
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle s2bold" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h1 class="s2bold nav-link-title" [routerLink]="['/products', 1, 0]" (click)="updateCategoryStatus('All Hires')">Hire</h1>
        </div>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink" *ngIf="hireCategories">

          <!-- !large screen dropdown -->
          <a *ngIf="isBrowser==true" class="dropdown-item d-none d-md-block s2bold" [routerLink]="['/products', 1, 0]"
            (click)="updateCategoryStatus('All Hires')">
            <h1 class="nav-link-title">All Hires</h1>
          </a>
          <a *ngIf="isBrowser==false" class="dropdown-item d-none d-md-block s2bold nav-link-title" href='http://luxedreameventhire.co.nz/products/1/0'
            (click)="updateCategoryStatus('All Hires')">
            All Hires
          </a>
          <div *ngIf="isBrowser==true">
            <a class="dropdown-item d-none d-md-block s2bold" *ngFor="let category of hireCategories"
              [routerLink]="[ '/products', 1, category.categoryId ]"
              (click)="updateCategoryStatus(category.categoryName)">
              <h1>{{category.categoryName}}</h1>
            </a>
          </div>
          <div *ngIf="isBrowser==false">
            <a class="dropdown-item d-none d-md-block" *ngFor="let category of hireCategories"
              href = 'http://luxedreameventhire.co.nz/products/1/{{category.categoryId}}'
              (click)="updateCategoryStatus(category.categoryName)">
              {{category.categoryName}}
            </a>
          </div>

          <!-- !mobile dropdown -->
          <a class="dropdown-item d-block d-md-none" data-toggle="collapse" data-target=".navbar-collapse">
            <a  class="s2bold nav-link-title" *ngIf="isBrowser==true" [routerLink]="['/products', 1, 0]"
              (click)="updateCategoryStatus('All Hires')">
              <h1>All Hires</h1>
            </a>
            <a *ngIf="isBrowser==false" href='http://luxedreameventhire.co.nz/products/1/0' class="nav-link-title"
              (click)="updateCategoryStatus('All Hires')">
              All Hires
            </a>
          </a>
          <a class="dropdown-item d-block d-md-none s2bold" *ngFor="let category of hireCategories" data-toggle="collapse"
            data-target=".navbar-collapse">
            <a class="s2bold" *ngIf="isBrowser==true" [routerLink]="[ '/products', 1, category.categoryId ]"
              (click)="updateCategoryStatus(category.categoryName)">
              <h1>{{category.categoryName}}</h1>
            </a>
            <a *ngIf="isBrowser==false" href = 'http://luxedreameventhire.co.nz/products/1/{{category.categoryId}}'
              (click)="updateCategoryStatus(category.categoryName)">
              {{category.categoryName}}
            </a>
          </a>
        </div>
      </li>

      <!--!Party services-->
      <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle s2bold" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h1 class="s2bold nav-link-title" [routerLink]="['/services', 2, 0]" (click)="updateCategoryStatus('All Services')">Event Services</h1>
          </div>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink2" *ngIf="serviceCategories">
  
            <!-- !large screen dropdown -->
            <a *ngIf="isBrowser==true" class="dropdown-item d-none d-md-block s2bold nav-link-title" [routerLink]="['/services', 2, 0]"
              (click)="updateCategoryStatus('All Services')">
              <h1>All Services</h1>
            </a>
            <a *ngIf="isBrowser==false" class="dropdown-item d-none d-md-block nav-link-title" href='http://luxedreameventhire.co.nz/services/2/0'
              (click)="updateCategoryStatus('All Services')">
              All Services
            </a>
            <div *ngIf="isBrowser==true">
              <a class="dropdown-item d-none d-md-block s2bold" *ngFor="let category of serviceCategories"
                [routerLink]="[ '/services', 2, category.categoryId ]"
                (click)="updateCategoryStatus(category.categoryName)">
                <h1>{{category.categoryName}}</h1>
              </a>
            </div>
            <div *ngIf="isBrowser==false">
              <a class="dropdown-item d-none d-md-block" *ngFor="let category of serviceCategories"
                href = 'http://luxedreameventhire.co.nz/services/2/{{category.categoryId}}'
                (click)="updateCategoryStatus(category.categoryName)">
                {{category.categoryName}}
              </a>
            </div>
  
            <!-- !mobile dropdown -->
            <a class="dropdown-item d-block d-md-none " data-toggle="collapse" data-target=".navbar-collapse">
              <a  class="s2bold nav-link-title" *ngIf="isBrowser==true" [routerLink]="['/services', 2, 0]"
                (click)="updateCategoryStatus('All Services')">
                <h1>All Services</h1>
              </a>
              <a *ngIf="isBrowser==false" href='http://luxedreameventhire.co.nz/services/2/0' class="nav-link-title"
                (click)="updateCategoryStatus('All Services')">
                All Services
              </a>
            </a>
            <a class="dropdown-item d-block d-md-none s2bold" *ngFor="let category of serviceCategories" data-toggle="collapse"
              data-target=".navbar-collapse">
              <a class="s2bold" *ngIf="isBrowser==true" [routerLink]="[ '/services', 2, category.categoryId ]"
                (click)="updateCategoryStatus(category.categoryName)">
                <h1>{{category.categoryName}}</h1>
              </a>
              <a *ngIf="isBrowser==false" href = 'http://luxedreameventhire.co.nz/services/2/{{category.categoryId}}'
                (click)="updateCategoryStatus(category.categoryName)">
                {{category.categoryName}}
              </a>
            </a>
          </div>
        </li>

      <!-- !Party Packages-->
      <li class="nav-item">
        <a *ngIf="isBrowser==true" class="nav-link s2bold" routerLink='/packages' routerLinkActive="active">
          <h1 class="s2bold nav-link-title nav-link-title-space">Party Packages</h1>
        </a>
        <a *ngIf="isBrowser==false" class="nav-link s2bold" href='http://luxedreameventhire.co.nz/packages'>
          <h1 class="s2bold nav-link-title nav-link-title-space">Party Packages</h1>
        </a>
      </li>
    </ul>
  </div>
  
  <!-- !website icon -->
  <div class="mx-auto order-0">
    <a *ngIf="isBrowser==true" class="nav-link p-0 p-md-1" routerLink='/' routerLinkActive="active">
      <img class="d-none d-lg-block" src="../../../../assets/images/Asset1-4x-big.png" style="zoom:0.5;height:9.4rem;" />
      <img class="d-md-block d-lg-none" src="../../../../assets/images/Asset1-4x-mid.png" style="zoom:0.8;" />
    </a>
    <a *ngIf="isBrowser==false" class="nav-link p-0 p-md-1" href='http://luxedreameventhire.co.nz'>
      <img class="d-none d-lg-block" src="../../../../assets/images/Asset1-4x-big.png" style="zoom:0.5;height:9.4rem;" />
      <img class="d-md-block d-lg-none" src="../../../../assets/images/Asset1-4x-mid.png" style="zoom:0.8;" />
    </a>
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target=".dual-collapse2"><span
      class="navbar-toggler-icon"></span></button>
    </div>
    
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ul-menu d-flex  justify-content-around">
      <!--!Gallery-->
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle s2bold" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h1 class="s2bold nav-link-title">Gallery</h1>
        </div>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink2">
          <!-- !large screen dropdown -->
          <a *ngIf="isBrowser==true" class="dropdown-item d-none d-md-block s2bold" routerLink='/galleries'> <h1 class="nav-link-title">All Galleries</h1></a>
          <a *ngIf="isBrowser==false" class="dropdown-item d-none d-md-block nav-link-title" href='http://luxedreameventhire.co.nz/galleries'>All Galleries</a>
          <div *ngIf="isBrowser==true">
            <a class="dropdown-item d-none d-md-block s2bold" *ngFor="let gallery of galleriesData" routerLink= '/galleries/{{gallery.typeId}}'><h1>{{gallery.eventName}}</h1></a>
          </div>
          <div *ngIf="isBrowser==false">
            <a class="dropdown-item d-none d-md-block" *ngFor="let gallery of galleriesData" href = 'http://luxedreameventhire.co.nz/category/galleries/{{gallery}}'>{{gallery}}</a>
          </div>

          <!-- !mobile dropdown -->
          <a class="dropdown-item d-block d-md-none" data-toggle="collapse" data-target=".navbar-collapse1">
            <a class="s2bold nav-link-title" *ngIf="isBrowser==true" routerLink='/galleries'><h1>All Galleries</h1></a>
            <a *ngIf="isBrowser==false" href='http://luxedreameventhire.co.nz/galleries' class="nav-link-title">All Galleries</a>
          </a>
          <a class="dropdown-item d-block d-md-none s2bold" *ngFor="let gallery of galleriesData" data-toggle="collapse"
            data-target=".navbar-collapse">
            <a class="s2bold" *ngIf="isBrowser==true" routerLink= '/galleries/{{gallery}}'><h1>{{gallery.eventName}}</h1></a>
            <a *ngIf="isBrowser==false" href='http://luxedreameventhire.co.nz/category/galleries/{{gallery}}'>{{gallery}}</a>
          </a>
        </div>
      </li>

	  
      <!--! Customer Log in -->
      <li *ngIf="loggedIn == false" class="nav-item">
        <a *ngIf="isBrowser==true" class="nav-link s2bold" (click)="loginDialog()">
          <h1 class="s2bold nav-link-title">Log in</h1>
        </a>
        <a *ngIf="isBrowser==false" class="nav-link s2bold">
          <h1 class="s2bold nav-link-title">Log in</h1>
        </a>
      </li>
	  
      <!--! Sign up -->
      <li *ngIf="loggedIn == false" class="nav-item">
        <a *ngIf="isBrowser==true" class="nav-link s2bold" (click)="signupDialog()">
          <h1 class="s2bold nav-link-title">Sign up</h1>
        </a>
        <a *ngIf="isBrowser==false" class="nav-link s2bold">
          <h1 class="s2bold nav-link-title">Sign up</h1>
        </a>
      </li>
	  
      <!--! User DashBoard-->
      <li *ngIf="loggedIn == true" class="nav-item">
        <a *ngIf="isBrowser==true" class="nav-link s2bold" routerLink='/userDashboard' routerLinkActive="active">
          <h1 class="s2bold nav-link-title">Dashboard</h1>
        </a>
        <a *ngIf="isBrowser==false" class="nav-link s2bold" href='http://luxedreameventhire.co.nz/userDashboard'>
          <h1 class="s2bold nav-link-title">Dashboard</h1>
        </a>
      </li>

      <!-- Log Out -->
	  <li *ngIf="loggedIn == true" class="nav-item">
		  <a class="nav-link s2bold" (click)="logout()">
			  <h1 class="s2bold nav-link-title">Log out</h1>
		  </a>
	  </li>
      
      <!--!Shopping Cart-->
      <li class="nav-item pl-md-1">
        <a *ngIf="isBrowser==true" class="nav-link s2bold" routerLink='/checkout' routerLinkActive="active">
          <h1 class="s2bold nav-link-title">
              <i class="fas fa-shopping-cart" title="View Shopping Cart"></i> 
            Cart
          </h1>
        </a>
        <a *ngIf="isBrowser==false" class="nav-link s2bold" href='http://luxedreameventhire.co.nz/checkout'>
          <h1 class="s2bold nav-link-title">
              <i class="fas fa-shopping-cart" title="View Shopping Cart"></i>
          </h1>
        </a>
	  </li>
	  
    </ul>
  </div>
</nav>