.navbar-light .navbar-nav .nav-link.active
{
    color: #c48f45 !important;
}
a.nav-link:hover
{
    color: #c48f45 !important;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.navbar-collapse{
    padding-left:20px;
}
.navbar-toggler{
    border:0;
    position: absolute;
    z-index: 99;
    top:28px;
    right:10px;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-toggle{
    cursor: pointer;
}
.dropdown-item{
    cursor: pointer;
}
.dropdown-menu{
    top: 30px;
    left: -4px;
}
@media (min-width: 768px) {
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
}
 @media (min-width: 768px) {
     .dropdown:hover .dropdown-menu {
         display: block;
    }
}