.navbar-light .navbar-nav .nav-link.active
{
    color: #c48f45 !important;
}
a.nav-link:hover
{
    color: #c48f45 !important;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.navbar-collapse{
    padding-left:20px;
}
.navspace{
    width:6%;
}
.navbar-toggler{
    border:0;
    position: absolute;
    z-index: 99;
    top:28px;
    right:10px;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-toggle{
    cursor: pointer;
}
.dropdown-item{
    cursor: pointer;
}
.dropdown-menu{
    top: 30px;
    left: -4px;
}
.nav-link, .s2bold > h1 {
    font-size: 0.8rem;
}
.dropdown-menu{
    border:0px;
}
@media (min-width: 768px) {
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
   }
}
@media (max-width:768px){
    .dropdown-menu{
        background-color: transparent;
    }
}
/* TODO: move to global css */
@media (max-width: 991px) {
    .s2bold > h1 {
        font-size:0.5rem;
    }
}