<nav class="navbar navbar-expand-md" id="navbarId" [ngClass]="{'navbar-light': !isTop, 'bg-light':!isTop}">
  <a class="navbar-brand" routerLink='/homepage' routerLinkActive="active" >
    <div *ngIf="isTop; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <img src="../../../../assets/images/logo_white.png">
    </ng-template>
    <ng-template #elseBlock>
      <img src="../../../../assets/images/logo_black.png">
    </ng-template>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto ">
      <!-- <li class="nav-item active">
        <a class="nav-link s2gold" routerLink='/homepage' routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li> -->
      
      <!-- https://blog.csdn.net/zhuxufeifei/article/details/83065034 -->

      <li class="nav-item">
        <a class="nav-link" routerLink='/hire' routerLinkActive="active">Hire</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink='/services' routerLinkActive="active">Party Services</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink='/packages' routerLinkActive="active">Party Packages</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink ='/aboutUs' routerLinkActive="active">About Us</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink ='/faq' routerLinkActive="active">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contactUs' routerLinkActive="active">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

