img {
  width: 100%;
}

.bg-gray {
  background-color: rgb(245, 243, 243)
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.shoppingcarttop{
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}
.cartdetil{
    margin-bottom: 5px; 
    padding-bottom: 5px;
    border-bottom: 1px dashed #e0e0e0;
}

.btn.btn-outline-red {
  border-color: #ff7575;
  color: #ff7575;
}

.btn.btn-outline-blue {
  border-color: #c48f45;
  color: #c48f45;
}

.btn.btn-outline-red, .btn.btn-outline-blue{
  padding:0 5px; 
  font-weight: 700;
  border-radius: 5.5px;
  border-width: 2px;
  border-style: solid;
  font-size: 17px;
}

.bg-gray, .divdetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-12, .s2goldbold > div {
  padding-bottom: 5px;
  border-bottom: 1px solid #dcdcdc;
}

.productdiv {
  padding-bottom: 1rem;
  border-bottom: 1px dashed #dcdcdc;
}

@media (max-width:767px) {

  .btn.btn-outline-red, .btn.btn-outline-blue {
    font-weight: 500;
    border-width: 1px;
    font-size: 12px;
  }
}

.quantityInput {
  width:50px;
  margin-left:15px;
}
.text-line {
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 3px 10px;
}

