<div class="container-fluid">
  <div class="px-0 px-md-5 mx-2">

    <!-- title -->
    <div class="row py-2 py-md-5">
        <div class="col-12 mb-2 l1 text-center" *ngIf="typeName == 'hire'">  Our Hires</div>
        <div class="col-12 mb-2 l1 text-center" *ngIf="typeName == 'service'">  Our Services</div>
        <div class="col-12 mb-2 l1 text-center" *ngIf="typeName == 'package'">  Our Packages</div>
    </div>

    <!-- categories and search -->
    <div class="row justify-content-center">
        <div class="s1 border-bottom" style="padding:6px 0;">Categories:</div>
        <div class="col-8 col-md-4 p-0 border-bottom">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100 text-left s1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedCate}}</button>
            <div class="dropdown-menu w-100 text-left s1" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="changeCate($event)" *ngFor="let cate of allCategories">{{cate}}</a>
            </div>
          </div>
        </div>
    </div>


  <div class="row"><div class="col-12 col-md-6 s2bold" *ngIf="!allProducts || allProducts.length ==0">Sorry, We can not find any products at this moment.</div></div>

  <!-- display products -->
  <div class="row py-3">
    <div class='col-12 col-md-4 pt-4 pb-2' *ngFor="let product of allProducts; index as i">

        <div id="carouselExampleFade{{i}}" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <a [routerLink] = "['/product/'+product.ProdId]">
            <div class="carousel-inner" >
                <!-- active -->
              <div class="carousel-item active">
                <!-- <img src="http://localhost:56662/ImgTest/test1.png" class="d-block w-100"> -->
                <img src="../../../../assets/images/productImg1.jpeg" class="d-block w-100">

              </div>
              <div class="carousel-item">
                <!-- <img src="http://localhost:56662/ImgTest/test2.jpeg" class="d-block w-100"> -->
                <img src="../../../../assets/images/productImg2.jpeg" class="d-block w-100">

              </div>
              <div class="carousel-item">
                <!-- <img src="http://localhost:56662/ImgTest/test3.jpeg" class="d-block w-100"> -->
                <img src="../../../../assets/images/productImg3.png" class="d-block w-100">

              </div>
            </div>
            </a>
            <a class="carousel-control-prev" href="#carouselExampleFade{{i}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade{{i}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      <div><a  class="m1" [routerLink] = "['/product/'+product.ProdId]">{{product.Title}} </a></div>
      <div class="row"><div class="s2gold col-4">$ {{product.Price}}</div><div class="s2 col-6">Hired: 12</div></div>
    </div>
  </div>
</div>
</div>