<div class="container-fluid">
  <div class="px-0 px-md-5 mx-2">

    <!-- title -->
    <div class="row">
        <div class="col-12 my-2 my-md-5 l1 text-center" *ngIf="typeName == 'hire' || typeName == 'category'">  Our Hires</div>
        <div class="col-12 my-2 my-md-5 l1 text-center" *ngIf="typeName == 'service'">  Our Services</div>
        <div class="col-12 my-2 my-md-5 l1 text-center" *ngIf="typeName == 'package'">  Our Packages</div>
    </div>

    <!-- categories and search -->
    <div *ngIf="typeName == 'hire' || typeName == 'category'" class="row justify-content-center" #categorySelection>
        <div class="s1 border-bottom" style="padding:6px 0;">Categories:</div>
        <div class="col-8 col-md-4 p-0 border-bottom">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100 text-left s1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedCate}}</button>
            <div class="dropdown-menu w-100 text-left s1" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/hire">All Products</a>
              <!-- <div *ngFor="let category of allCategories"> <a class="dropdown-item" (click)="changeCate(category.categoryId,$event)">{{category.categoryName}}</a></div> -->
              <div *ngFor="let category of allCategories">
                <a class="dropdown-item" [routerLink]="[ '/category/', category.categoryId ]">
                  <h1 class="s1">{{category.categoryName}}</h1>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="s2" style="text-align: center;" *ngIf="errorMessage">
      Sorry, {{errorMessage}}
    </div>
    <div class="d-flex justify-content-center py-5 mt-5" *ngIf="isLoading">
        <div class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

  <!-- *display products -->

  <div class="row py-3" *ngIf="allProducts">
    <div class='col-12 col-sm-6 col-md-6 col-lg-4 pt-4 pb-2' *ngFor="let product of allProducts; index as i">
      <div>
          <a [routerLink] = "['/product/',product.prodId]">
            <div class="h490" *ngIf="product.productMedia[0]">
            <img src="{{baseImageLink}}{{product.productMedia[0].url}}" class="d-block autofix">
            </div>
          </a>
      </div>

      <h1 style="margin:0px; line-height: 24px; margin-block-start:0px;">
        <a [routerLink] = "['/product/',product.prodId]" class="m1">{{product.title}}</a>
      </h1>
      <div class="row">
        <div class="col-12">
          <span class="s2 mr-3" *ngIf="product.productDetail.length==0 && product.discount == null">Price: ${{product.price}}</span>
          <span class="s2 mr-3" *ngIf="product.productDetail.length==0 && product.discount >= 0">Price: ${{product.price - product.discount}}</span>
          <span class="s2 mr-3" *ngIf="product.productDetail.length>0 && product.discount == null" >Starting from: ${{product.price}}</span>
          <span class="s2 mr-3" *ngIf="product.productDetail.length>0 && product.discount >= 0" >Starting from: ${{product.price - product.discount}}</span>
        </div>
        <!-- <div class="s2 col-4" *ngIf="!product.discount || product.discount == 0">Price: ${{product.price}}</div> -->
      </div>
    </div>
  </div>
  <div class="row py-3" *ngIf="!isLoading && allProducts.length === 0">
    <div class="col-12 s2 text-center">Coming soon...</div>
  </div>

  <!-- !pagination -->
    <nav aria-label="Page navigation example" *ngIf="isProductsGrouped && groupedProducts">
      <ul class="pagination justify-content-center">
        <li class="page-item gold"
          *ngFor="let prodGroup of groupedProducts, index as i"
          [ngClass]="{'active': i=== currentPageNumber}"
          (click)="changePage(i)">
          <a class="page-link">{{i+1}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </nav>
  
  </div>
</div>