a{
    text-decoration: none;
    color: inherit;
}
a.dropdown-item{
    cursor: pointer;
}
a.dropdown-item:hover{
    background-color: #e7e9eb;
}
.btn.btn-secondary.dropdown-toggle{
    /* color: black; */
    background-color: transparent;
    border-color: transparent;
}

.btn.btn-secondary.dropdown-toggle .active{
    border:0;
}
.btn{
    box-shadow: none!important;
}
.btn:hover{
    color:black;    
}
.show .btn-secondary.dropdown-toggle{
    color:black;
}
.h490{
    position: relative;
    padding-top: 100%;
    width:100%;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.h490 img {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    object-fit: cover;
}

.autofix{
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-link:hover{
    color: #c48f45;
}
.page-link:focus{
    box-shadow: 0 0 0 0;
}

.page-item.active .page-link {
    background-color: #c48f45;
    color: white;
    border-color: transparent;
}