<div class="container-fluid">
  <div class="px-0 px-md-5 mx-2">

    <!-- title -->
    <div class="row py-2 py-md-3">
        <div class="col-12 mb-2 l1 text-center" *ngIf="typeName == 'hire'">  Our Hires</div>
        <div class="col-12 mb-2 l1 text-center" *ngIf="typeName == 'service'">  Our Services</div>
        <div class="col-12 mb-2 l1 text-center" *ngIf="typeName == 'package'">  Our Packages</div>
    </div>

    <!-- categories and search -->
    <div *ngIf="typeName == 'hire' || typeName == 'category'" class="row justify-content-center">
        <div class="s1 border-bottom" style="padding:6px 0;">Categories:</div>
        <div class="col-8 col-md-4 p-0 border-bottom">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100 text-left s1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedCate}}</button>
            <div class="dropdown-menu w-100 text-left s1" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/hire">All Products</a>
              <!-- <div *ngFor="let category of allCategories"> <a class="dropdown-item" (click)="changeCate(category.categoryId,$event)">{{category.categoryName}}</a></div> -->
              <div *ngFor="let category of allCategories"> <a class="dropdown-item" [routerLink]="[ '/category/', category.categoryId ]">{{category.categoryName}}</a> </div>
            </div>
          </div>
        </div>
    </div>
    <div class="s2" style="text-align: center;" *ngIf="errorMessage">
      Sorry, {{errorMessage}}
    </div>
  <!-- display products -->
  <div class="row py-3">
    <div class='col-12 col-sm-6 col-md-6 col-lg-4 pt-4 pb-2' *ngFor="let product of allProducts; index as i">
        <div id="carouselExampleFade{{i}}" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <a [routerLink] = "['/product/',product.prodId]">
            <div class="carousel-inner" >
                <!-- active -->
                <!-- TODO: Fix img -->
              <div class="carousel-item active overflow-hidden h490" *ngFor="let media of product.productMedia">
                <img src="../../../../assets/Products/{{media.url}}.jpg" class="d-block autofix"/>
              </div>
            </div>
            </a>
            <a class="carousel-control-prev" href="#carouselExampleFade{{i}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade{{i}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <h1><a [routerLink] = "['/product/',product.prodId]" class="m1">{{product.title}}</a></h1>
      <div class="row"><div class="s2gold col-4">$ {{product.price}}</div><div class="s2 col-6">Hired: 12</div></div>
    </div>
  </div>
</div>
</div>