form {
	margin: 0px 80px 0px 80px;
}
mat-form-field	{
	display: block;
}
p {
	font-size: 1.1rem;
}
span {
	color: #c48f45;
}
.card {
	min-height: 350px;
	width: 500px;
	margin: 0 auto;
	margin-top: 3%;
}
.card-body {
	width: 100%;
}
.card-header {
	background-color: #c48f45;
	color: white;
	text-align: center;
}
.primaryButton {
	background-color: #c48f45;
	color: white;
}
#buttonsWrap {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.primaryButton {
	background-color: #c48f45;
	color: white;
}
#buttonsWrap {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}