<div class="card">
	<div class="card-header">
		<h4>Reset Your Password</h4>
	</div>
	<div class="card-body bg-light text-center py-3">
		<form [formGroup]="changePasswdForm" (ngSubmit)="onSubmit()">
			<mat-form-field>
				<input matInput placeholder="Old Password" formControlName="oldpassword" [type]="hide ? 'password' : 'text'"
				(ngModleChange)="update()" required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-error *ngIf="password.invalid">{{getErrorMessage1()}}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="New Password" formControlName="password" [type]="hide ? 'password' : 'text'"
				(ngModleChange)="update()" required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-error *ngIf="password.invalid">{{getErrorMessage2()}}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput (ngModleChange)="update()" placeholder="Confirm Password" formControlName="confirmpassword"
					[type]="hide ? 'password' : 'text'" required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>

				<mat-error *ngIf="confirmpassword.invalid">{{getErrorMessage3()}}</mat-error>
			</mat-form-field>
			
			<div *ngIf="this.changePasswdForm.valid && signupFailed" class="alert alert-danger text-center">
				{{ errorMessage }}
			</div>
			<button type="submit" mat-raised-button class="primaryButton mt-3">Submit</button>
		</form>
	</div>
</div>