<!-- Sign up form for users -->
<div style="text-align: center;" class=wrap>
	<div id="logowrap">
		<img src="../../../../assets/images/Asset1-4x-mid.png" alt="logo" width="100px">
		<hr>
        <h5 mat-dialog-title>{{data}}</h5>
        <br>
        <h5 class="s2">
        <b>Do you have a registered event business?
        <br><br>
        Do you have a Facebook or Instagram page?</b>
        <br><br>
        If you said yes to the above you may be eligible to apply for our Event Stylist special offer.
        <br><br>
        You will receive 20% off all hire items (excluding delivery, decal, chairs,cart,etc.)
        <br><br>
        The only thing we ask in return is you MUST mention and tag us in all your event social media posts which include our items or share the images of the event with our marketing team at info@luxedreameventhire.co.nz
            <br><br>
        Get in touch with us to let us know.
    </h5>
    </div>
    <br>
    <br>
	<div id="ButtonsWrap">
		<button mat-raised-button (click)="next()" class="primaryButton">Next</button>
	</div>
</div>