<div class="bg-dark">
  <div class="container p-0">
    <!-- follow us -->
    <div class="row" style="text-align:center">
      <div class="col-md-4">
        <br>
      </div>
      <!-- facebook/ins/message -->
      <div class="col-md-4 py-4">
        <br>
        <div class="mb-3">
          <i class="fab fa-facebook-square rounded-lg p-3 rounded"></i>
          <i class="fab fa-instagram rounded-lg p-3 rounded"></i>
          <i class="far fa-envelope rounded-lg p-3 rounded"></i>
        </div>
      </div>
    </div>

      <!-- imgs -->
    <div class="row">
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/about-us.jpg" alt=""></div>
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/productImg3.png" alt=""></div>
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/productImg1.jpeg" alt=""></div>
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/productImg2.jpeg" alt=""></div>
    </div>

      <!-- lists -->
    <div class="row mt-3 contactUs">
      <div class="col-12 col-sm-6 col-lg-4 s2bold pl-5">
        <ul class="ml-md-5"> <span class="s1 text-white">Lux Dream Event Hire</span> 
          <li class="mt-2 pt-2 text-decoration-underline text-white-50"><a [routerLink]="['/aboutUs']">About us</a></li>
          <li class="mt-2 text-decoration-underline text-white-50"> <a [routerLink]="[ '/contactUs']">Contact</a> </li>
          <li class="mt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/faq']">FAQ</a></li>
        </ul> 
       </div>
      <div class="col-12 col-sm-6 col-lg-4 s2bold pl-5">
        <ul class="ml-md-5"><span class="s1  text-white">Our Services</span>
          <li class="mt-2 pt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/hire']">Hire</a></li>
          <li class="mt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/services']">Event services</a></li>
          <li class="mt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/packages']">Event packages</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 s2bold pl-5">
        <ul class="ml-md-5"><span class="s1 text-white">Contact us</span>
          <li class="mt-2 pt-2 text-decoration-underline text-white-50"><div class="row">
            <div class="col-2"><i class="fas fa-phone-volume mr-3"></i></div><div class="col-10">02108547654</div></div>
          </li>

          <li class="mt-2 text-decoration-underline text-white-50">
              <div class="row"><div class="col-2"><i class="far fa-envelope mr-3"></i></div><div class="col-10">qwer@qwer.com</div></div>
           </li>

          <li class="mt-2 text-decoration-underline text-white-50">
            <div class="row"><div class="col-2"><i class="fas fa-map-marker-alt mr-3"></i></div><div class="col-10">25 Stock Street, New Lynn, Auckland</div></div>
            </li>

          <li class="mt-2 text-decoration-underline text-white-50">
            <div class="row"><div class="col-2"><i class="fab fa-weixin mr-3"></i></div><div class="col-10">wechatId</div></div>
          </li>

        </ul>
      </div>
    </div>
    <!-- copyright -->
    <div class="row py-4">
      <div class="col-12"><div class="s2gold text-center ">&copy; Lux Dream Event Hire 2019</div></div>
    </div>
    
  </div>
</div>
