i{
    color: rgba(150, 150, 150, 0.89);
    font-size: 28px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
ul li a:hover{
    color: rgb(112, 112, 112);
}
.imgBlocks{
    width:100%;
    min-height: 100%;
}
.fab.fa-facebook-square:hover{
    color: white;
    background: #42599c;
}
.far.fa-envelope:hover{
    color: white;
    background: #96a2a2;
}
.fab.fa-instagram:hover{
    color: white;
    background:radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
}
a{
    text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.contactUs i{
    font-size: 18px;
}
.copyright {
    padding-bottom: 20px;
}
.brand {
    font-size: 12px;
    padding: 3px 0 10px 0;
    font-weight: 600;
    color: #404040
}
.footer-icon {
    min-width: 20px;
}

@media (max-width:767px) {
    .col-6{
        padding:5px;
    }
    .col-12{
        padding:0px;
    }
}
