<div class="bg-dark">
  <div class="container p-0">
    <!-- follow us -->
    <div class="row" style="text-align:center">
      <div class="col-md-4">
        <br>
      </div>
      <!-- facebook/ins/message -->
      <div class="col-md-4 py-4">
        <br>
        <div class="mb-3">
          <i class="fab fa-facebook-square rounded-lg p-3 rounded"></i>
          <i class="fab fa-instagram rounded-lg p-3 rounded"></i>
          <i class="far fa-envelope rounded-lg p-3 rounded"></i>
        </div>
      </div>
    </div>

      <!-- imgs -->
    <div class="row">
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/about-us.jpg" alt=""></div>
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/productImg3.png" alt=""></div>
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/productImg1.jpeg" alt=""></div>
      <div class="col-6 col-md-3"><img  class ="imgBlocks" src="../../../../assets/images/productImg2.jpeg" alt=""></div>
    </div>

      <!-- lists -->
    <div class="row mt-3 text-center">
      <div class="col-4 s3bold">
        <ul> <span class="s2bold text-white">Lux Dream Event Hire</span> 
          <li class="mt-2 pt-2 text-decoration-underline text-white-50"><a [routerLink]="['/aboutUs']">About us</a></li>
          <li class="mt-2 text-decoration-underline text-white-50"> <a [routerLink]="[ '/contactUs']">Contact</a> </li>
          <li class="mt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/faq']">FAQ</a></li>
        </ul> 
       </div>
      <div class="col-4 s3bold">
        <ul><span class="s2bold text-white">Our Services</span>
          <li class="mt-2 pt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/hire']">Hire</a></li>
          <li class="mt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/services']">Event services</a></li>
          <li class="mt-2 text-decoration-underline text-white-50"><a [routerLink]="[ '/packages']">Event packages</a></li>
        </ul>
      </div>
      <div class="col-4 s3bold">
        <ul><span class="s2bold text-white">Contact us</span>
          <li class="mt-2 pt-2 text-decoration-underline text-white-50">Phone</li>
          <li class="mt-2 text-decoration-underline text-white-50">Email</li>
          <li class="mt-2 text-decoration-underline text-white-50">Address</li>
          <li class="mt-2 text-decoration-underline text-white-50">WeChat</li>
        </ul>
      </div>
    </div>
    <!-- copyright -->
    <div class="row py-4">
      <div class="col-12"><div class="s3gold text-center ">Copyright.......All rights reserved.</div></div>
    </div>
    
  </div>
</div>
