  <div class="container">
  <div class=" px-0 px-md-5 mx-2">
    <div class="row text-center l1"><div class="col-12 my-2 my-md-5">About Us</div></div>
    <div style="text-align: center;" class="s2">
      Good things always bring happiness to people. <br>
      Luxe Dream Event Hire is dedicated in brining exquisite decorations and elaborate designs that will make a monumental differece from what may otherwise seem ordinary.   
    <br>
      From birthday parties to bachelor & bachelorette parties and even weekend parties, the distance between people is getting closer and closer in a perfectly arranged atmosphere. 
      Even the occasional DIY will make things different and fun. 
      <br><br>
      Life should be spent on good things. We want to be there and go through the good times in life with you. 
      We founded Luxe Dream Event Hire as a local New Zealand business, for wedding companies, wedding halls, studios, 
      planners and the photographer, as an one-stop shop props rental service. 
      <br>
      We want to build an event props warehouse, where customers can select the most exquisite props of quality and taste, for every gorgeous presentation. 
      <br><br>
      We have professional design consultants who specialises in event design plans.<br>
      Helping you choose and match all kinds of props and create a beautiful atmosphere for your event.
      <br><br>

      Our service has interactive booking, online management, and delivery to your event location. <br>
      We will always be committed to being the creator of your most beautiful moments, adding to your perfect and exquisite life, 
      awakening your vision and expectation, and rejuvenating the unprecedented power.
      <br><br><br>
      <button type="button" class="btn btn-outline-gold lspace-3" routerLink="/hire">View our products</button>
    </div>
    <br>
    <br><br>
  </div>
</div>
