/* .egbg{
    background-image: url("../../../assets/images/productImg2.jpeg");
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
} */
.gallaryBlocks{
    /* background-image: url("../../../assets/images/productImg2.jpeg"); */
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.pb-30{
    padding-bottom:30px;
}