<div class="container-fluid">
  <div class="px-0 px-md-5 mx-2">

    <div class="row text-center l1">
      <div class="col-12 my-2 my-md-5"> Our Gallery</div>
    </div>

    <!-- Gallery List -->
    <div class="row j1" *ngIf="eventTypeList">
      <div *ngFor="let event of eventTypeList" class="col-12 col-md-6 pb-30">
        <a [routerLink] = "['/galleries/', event.typeId]">
          <div class="gallaryBlocks" [ngStyle]="{'background-image': 'url('+ 'http://luxedreameventhire.co.nz:5000/' + event.eventTypeImage + ')'}">
            {{event.eventName}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>