<div class="card">
	<div class="card-body text-center">
		<table class="table">
			<tr class="card-header">
				<th>Order ID</th>
				<th>Event Address</th>
				<th>Date of Event</th>
				<th>Price</th>
				<th>Payment Status</th>
				<th>Order Status</th>
				<th>View Detail</th>
			</tr>
			<tr class="order-list" *ngFor="let order of orders">
				<td>{{order.cartId}}</td>
				<td>{{order.location}}</td>
				<td>{{order.eventStartDate | date :'mediumDate'}} - {{order.eventEndDate | date :'mediumDate'}} </td>
				<td>$ {{order.price}}</td>
				<td *ngIf="order.isPay === 0 && order.isExpired === 0">
					<b>Processing</b><br>
					<!-- <button class="btn btn-sm btn-info mt-1" *ngIf="order.isPay === 0 && order.isExpired === 0" (click)="payAgain(order.cartId)">
						Pay Again
					</button> -->
				</td>
				<td *ngIf="order.isPay === 1 && order.isExpired === 0"><b>Paid</b></td>
				<td *ngIf="order.isPay === 0 && order.isExpired === 1"><b>Expired/Declined</b></td>
				<td *ngIf="order.cartStatusId === null">-</td>
				<td *ngIf="order.cartStatusId !=null">{{order.cartStatus.cartStatusName}}</td>
				<td>
					<button class="btn btn-info btn-sm" (click)="itemDialog(order)">
						<i class="far fa-eye mr-1"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>