mat-card {
	width: 350px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	display: block;
}
mat-card-header {
	display: block;
	text-align: center;
}
mat-form-field {
	padding-bottom: 10px;
}
.container {
	min-height: 50%;
	margin-top: 30px;
}
.primaryButton {
	background-color: #c48f45;
	color: white;
}