<style>
	mat-card {
		width: 350px;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
		display: block;
	}
	mat-card-header {
		display: block;
		text-align: center;
	}
	mat-form-field {
		padding-bottom: 10px;
	}
	.container {
		min-height: 50%;
		margin-top: 30px;
	}
	.primaryButton {
		background-color: #c48f45;
		color: white;
	}
</style>

<div class="container py-2">
	<mat-card>
		<mat-card-header class="py-1">
			<h4>Reset Your Password</h4>
		</mat-card-header>
		<hr>

		<form [formGroup]="resetPasswordForm">
			<mat-form-field>
				<input matInput 
					placeholder="Password" 
					formControlName="password" 
					[type]="hide ? 'password' : 'text'"
					(ngModleChange)="update()" 
					required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-error *ngIf="password.invalid">{{getErrorMessage2()}}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput 
					placeholder="Confirm Password" 
					formControlName="confirmpassword"
					[type]="hide ? 'password' : 'text'" 
					required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-error *ngIf="confirmpassword.invalid">{{getErrorMessage3()}}</mat-error>
			</mat-form-field>

			<div *ngIf="" class="alert alert-danger text-center">
				{{ errorMessage }}
			</div>

			<hr>
			
			<button mat-raised-button class="primaryButton">Reset Your Password</button>
		</form>
	</mat-card>
</div>