<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
   <!-- !contact detail -->
   <div class="row">
      <div class="col-12">Customer:</div>
      <div class="col-6">First Name</div><div class="col-6">Last Name</div>
      <div class="form-group col-6">
         <input class="form-control" name="firstName" [(ngModel)]="contactForm.firstName" #firstName="ngModel">
      </div>
      <div class="form-group col-6">
         <input class="form-control" name="lastName" [(ngModel)]="contactForm.lastName" #lastName="ngModel">
      </div>
      <div class="col-6">Email</div><div class="col-6">Phone number</div>
      <div class="form-group col-6">
         <input class="form-control" name="email" [(ngModel)]="contactForm.email" #email="ngModel">
      </div>
      <div class="form-group col-6">
         <input class="form-control" name="phoneNum" [(ngModel)]="contactForm.phoneNum" #phoneNum="ngModel">
      </div>
      <div class="col-12">Customer Message</div>
      <div class="form-group col-12">
         <textarea rows="4" cols="50" class="form-control" name="phoneNum" [(ngModel)]="contactForm.phoneNum" #phoneNum="ngModel" style="white-space: pre-line"></textarea>
      </div>
      <button (click)="updateContact()" [disabled] = "isLoading==true">Save changes to customer</button>
   </div>

   <!-- !cartProd Detail -->
   <div class="row"> 
      <div class="col-12">Products in cart</div>
      <div class="col-12" *ngFor="let prod of cartProdList"> 
         Title: {{prod.title}}, Quantity: {{prod.quantity}}, Price: {{prod.price}} 
         <button (click)="deleteCardProd(prod.cartId)">Delete</button>
      </div>
   </div>

   <!-- !cart Detail -->
   <div class="row">
      <div class="col-12">Cart Detail</div>
      <input class="form-control" type = "text" name="location" [(ngModel)]="cartForm.location" #location="ngModel">
      <mat-form-field style="width:100%">
         <input matInput [matDatepicker]="myDatepicker" placeholder="Date of event" type="plannedTime"  name="plannedTime" [(ngModel)]="cartForm.plannedTime" #plannedTime="ngModel">
         <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
         <mat-datepicker #myDatepicker></mat-datepicker>
       </mat-form-field>
      <div class="col-6"><button (click)="updateCart()" [disabled] = "isLoading==true">update cart information</button></div>
   </div>
</mat-dialog-content>

<mat-dialog-actions>
   <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
</mat-dialog-actions>