<div class="jumbotron display-4">Payment Options</div>
<div class="ml-4" style="font-size:30px">Credit Cards </div>
<div class="row mx-5" >
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <a href="https://www.jcb.com/" target="_blank">
      <img src="../../../assets/images/JCBLogo.png" alt="JCB" style="width:150px;">
    </a>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
  <a href="https://www.mastercard.co.nz/en-nz.html" target="_blank">
    <img src="../../../assets/images/MasterCardLogo.png" alt="MasterCard" style="width:150px;">
  </a>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
  <a href="http://www.unionpayintl.com/en/" target="_blank">
    <img src="../../../assets/images/UPOPLogo.png" alt="UnionPay" style="width:150px;">
  </a>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <a href="https://www.visa.co.nz/" target="_blank">
      <img src="../../../assets/images/VisaLogo.png" alt="Visa" style="width:150px;">
    </a>
    </div>
</div>
<div class="ml-4" style="font-size:30px">Other Options </div>