
.productsOverview img{
    height: auto;
    max-width: 100%;
}
i{
    color:#b2823f;
    font-size:70px;
}
ul li{
    margin-top:15px
}
.bgat{
    background: url("../../../../assets/gallery/gallery3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0% 100%; */
}
.hireCollection img{
    height:180px;
}
/* .carousel-caption{
    position:static;
} */
.img100{
    height:100%;
    width:100%;
}