a{
    text-decoration: none;
}
.productsOverview img{
    height: auto;
    max-width: 100%;
}
i{
    color:#b2823f;
    font-size:70px;
}
ul li{
    margin-top:15px
}
.bgat{
    background: url("../../../../assets/gallery/gallerypexels1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.hireCollection img{
    height:180px;
}
.img100{
    height:100%;
    width:100%;
}
.testimonial{
    font-family: 'GreatVibes', cursive;
    font-size:2rem;
}
.carousel-item img{    
    object-fit: cover;
}
.col-12, .col-md-6 img{
    object-fit: cover;
}
.col-6, .col-md-3 img{
    object-fit: cover;
} 