<div class="container-fluid">
  <div class="row" #imgContainer>
    <div class="col-12 p-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="displayedCarouselImages">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol> -->
        <!-- <div class="carousel-inner"> -->
        <div class="carousel-inner">
          <div class="carousel-item homaimg" [ngClass]="{'active': i === 0}" *ngFor="let image of displayedCarouselImages, index as i">
            <img src="{{baseImageLink}}{{image.imageUrl}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
          *ngIf="displayedCarouselImages.length > 1">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
          *ngIf="displayedCarouselImages.length > 1">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="px-0 px-md-5 mx-2">
    <!-- SpecialProducts -->
    <div class="hireCollection" *ngIf="specialProducts">
      <h1 class="text-center my-5 l2 lspace-3">Event Hire Specials</h1>
      <!--Carousel Area of Special Products-->
      <div id="carouselExampleControls" class="carousel slide pt-5" data-ride="carousel">
        <!--Pictures of Carousel-->
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let specials of groupedSpecials, index as i" [ngClass]="{'active': i == 0}">
            <!--PC screen-->
            <div class="d-none d-md-block">
              <div class="row">
                <div class="col-3 pecail-wrapper" *ngFor="let spe of specials, let i = index">
                  <div class="h490" *ngIf="spe.productMedia[0]">
                    <img src="{{baseImageLink}}{{spe.productMedia[0].url}}" [routerLink]="[ '/product/', spe.prodId]">
                  </div>
                  <div class="special-info">
                    <div class="s1 specialProductTitle" #titleEl [routerLink]="[ '/product/', spe.prodId]" data-toggle="tooltip" data-placement="top" title="{{spe.title}}" >{{spe.title}}</div>
                    <div class="specialProductPrice ">
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length==0 && spe.discount == null">Price: <span class="price">${{spe.price}}</span></span>
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length==0 && spe.discount >= 0">Price: <span class="price">${{spe.price - spe.discount}}</span></span>
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length>0 && spe.discount == null" ><span class="specailPrice">Starting</span> from: <span class="price">${{spe.price}}</span></span>
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length>0 && spe.discount >= 0" ><span class="specailPrice">Starting</span> from: <span class="price">${{spe.price - spe.discount}}</span></span>
                      <!-- <s>${{spe.price}}</s> -->
                    </div>
                  </div>
              </div><!--end col-3-->
              </div><!--end row-->
            </div><!--End d-none d-md-block-->
            <!--mobile screen-->
            <div class="d-block d-md-none">
              <div class="row">
                <div class="col-6" *ngFor="let spe of specials">
                  <div class="h490" *ngIf="spe.productMedia[0]">
                    <img src="{{baseImageLink}}{{spe.productMedia[0].url}}" class="img100" [routerLink]="[ '/product/', spe.prodId]">
                  </div>
                  <div class="s1">{{spe.title}}</div>
                  <div class="specialProductPrice">
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length==0 && spe.discount == null">Price: <span class="price">${{spe.price}}</span></span>
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length==0 && spe.discount >= 0">Price: <span class="price">${{spe.price - spe.discount}}</span></span>
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length>0 && spe.discount == null" ><span class="specailPrice">Starting</span> from: <span class="price">$ {{spe.price}}</span></span>
                      <span class="s2 mr-3" *ngIf="spe.productDetail.length>0 && spe.discount >= 0" ><span class="specailPrice">Starting</span> from: <span class="price">$ {{spe.price - spe.discount}}</span></span>
                      <!-- <s>${{spe.price}}</s> -->
                  </div>
                </div><!--end col-3-->
              </div><!--end row-->
            </div><!--End d-none d-md-block-->
          </div><!--end carousel-item-->
        </div><!--end carousel-inner-->
        <!--End Pictures of Carousel-->

        <!--Carousel Arrow Buttons of left and right-->
        <a class="carousel-control-prev gold" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fas fa-chevron-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next gold" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
        <!--End Carousel Arrow Buttons of left and right-->
      </div>
      <!--End Carousel Area of Special Products-->

      <!--Button of View Our Product-->
      <div class="row justify-content-md-center my-3">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-outline-gold lspace-3" routerLink="/products/1/0">View our products</button>
        </div>
      </div>
      <!--End Button of View Our Product-->
    </div>
    <!-- End !SecialProducts -->


    <!-- Title paragraph -->
    <h1 class="l2 text-center mt-5">
      Event Hire Specialists
    </h1>
    <br><br>
    <div class="px-5 text-center s1">
      Luxe Dream Event Hire is all about <span style="font-family: 'LuxeDream'">luxury…</span>
      <br>
      The <span style="font-family: 'LuxeDream'">luxury</span> of hiring props, making your event a little grander than normal…
      <br>
      The <span style="font-family: 'LuxeDream'">luxury</span> of having our professionals step in to help style your unique event…
      <br>
      The <span style="font-family: 'LuxeDream'">luxury</span> of being surrounded by beautiful exclusive floral pieces…
      <br><br>
      Whether your celebrating a wedding, engagement, birthday, baby shower, corporate gathering or any other special event, we’re here to make it a unique day to remember.
      <br><br>
      Our professional services include: <span style="font-family: 'LuxeDream'">Floral Decoration, Prop Hire & Event Styling </span>. 
    <br>
      <a class="getintouch" style="color:#c48f45" href="" routerLink="/contactUs">Get in touch now for a quote</a> !
    </div>
    <br>
      <div class="col-12 text-center s1">Or see our work galleries</div>
    <div class="mb-5">
      <div class="col-12 text-center"><button type="button" class="btn btn-outline-gold my-4 lspace-3"
          routerLink="/galleries"> View Our Gallery</button></div>
    </div>

    <br>
    <div class="row ">
      <div *ngIf="video" class="col-12 col-md-6 order-0 order-md-0" style="min-height:360px;">
        <!-- <img src="../../../../assets/images/5da0c82500e7be45dc17d023ea7e2c83.jpg " style="height:100%;width:100%;"> -->
        <iframe style="width:100%; height:100%;" [src]="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>

      <div class="col-12 col-md-6 pt-md-4 order-1 order-md-1">
        <div class="d-none d-md-block"><br><br></div>
        <h1 class="l2  lspace-5">Floral Decoration</h1>

        <div class="my-3 s2">
          Luxe Dream Floral Studio specialise in flowering weddings and events. <br>
          With our knowledge and understanding of floral availability, designs and colour palettes, our florists can create beautiful blooms, both artificial and fresh.
          <br><br>
          We design ceremony flowers including bridal bouquets, bouquets for bridesmaids, flower girls and page boys, lapel flowers, corsages and ceremony aisle and chair decorations.
          <br><br>
          We design reception flowers including floral table and chair decorations, centrepiece bouquets and special bridal table decorations.
        </div>
        <button type="button" class="btn btn-outline-gold my-md-3 lspace-3" routerLink="/services/2/49">View our floral studio</button>
      </div>
    </div>
    <br>
    <div class="row ">
      <div class="col-12 col-md-6 order-1 order-md-0">
        <div class="d-none d-md-block"><br><br></div>
        <h1 class="l2 lspace-5">Prop Hire</h1>
        <div class="my-3 s2">
          Luxe Dream Event Hire offer competitive prices and high-quality rental equipment.
          <br>
          We have a wide range of props for hire that will put a personal touch on your event and if you wish to personalise further, our team can make this happen.
          <br><br>
          What’s more, our Floral Studio can add beautiful decorative pieces to your chosen props, which will really make them stand out…
        </div>
        <br>
        <button type="button" class="btn btn-outline-gold my-md-5 lspace-3" routerLink="/products/1/0">View our props</button>
      </div>
      <div class="col-12 col-md-6 order-0 order-md-1" style="height:550px;">
        <img src="../../../../assets/images/465b91cc5e0f427019fb4363fe65023d.jpg" style="height:100%;width:100%;" />
      </div>

    </div>
    <br>
    <div class="row ">
      <div class="col-12 col-md-6 pt-md-4 order-1 order-md-1">
        <div class="d-none d-md-block"><br></div>
        <h1 class="l2 lspace-5">Event Styling</h1>
        <div class="my-3 s2">
          Luxe Dream Event Hire will plan, create and deliver styling that is unique to your event.<br>
          Whether it be a seasonal, musical, religious or milestone event, we have you covered.<br>
          We will work alongside you to bring your vision to life and help create an inspiring and memorable celebration for all.
          <br><br>
          We specialise in Wedding Styling and would love to help make your special day unforgettable.<br>
          From wedding ceremonies to receptions, we can create an atmosphere that is both exclusive and enchanting for you and your guests…<br>
          <button type="button" class="btn btn-outline-gold my-md-3 lspace-3" routerLink="/services/2/0">View our services</button>
          <br>
          Luxe Dream Event Hire also have a selection of packages that make it simple for you to plan an event promptly while saving pennies at the same time.
          <br>
          <button type="button" class="btn btn-outline-gold my-md-3 lspace-3" routerLink="/packages">View our packages</button>
        </div>
      </div>
      <div class="col-12 col-md-6 order-0 order-md-0" style="height:550px;"><img
          src="../../../../assets/images/5da0c82500e7be45dc17d023ea7e2c83.jpg " style="height:100%;width:100%;"></div>
    </div>



    <!-- CORPORATE EVENTS -->
    <!-- <div class="row mt-5">
      <div class="col-12 col-md-6 pt-md-4 order-1 order-md-0">
        <div class="d-none d-md-block"><br><br></div>
        <h1 class="l2 mt-5 lspace-5">Our event packages</h1>
        <div class="my-3 s2">
          Find a event rental package that suit your needs from weddings to parties.
          Whether you need tables and stands for your event or want to spell out something special with our beautiful
          letters, we've got you sorted without ripping your wallet.
        </div>
        <button type="button" class="btn btn-outline-gold my-md-5 lspace-3" routerLink="/packages">View our
          packages</button>
      </div>
      <div class="col-12 col-md-6 order-0 order-md-1" style="height:550px;"><img
          src="../../../../assets/images/5da0c82500e7be45dc17d023ea7e2c83.jpg " style="height:100%;width:100%;"></div>
    </div> -->
  </div>

  <!-- scrolling background -->
  <div class="row">
    <div class="col-12 bgat mt-5" #bgat>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="container carousel-inner text-center text-white testimonial-carousel ">
          <div class="carousel-item active">
            <h5>Sarah</h5>
            <p style="color:white" class="s1">"Not only are the pieces completely unique and always a focal point at
              wedding receptions, but the team at Luxe Dream are the absolute best to work with. They always deliver and
              pick up promptly on the day of the event. Emma helps immensely with pre-planning leading up to the event.
              She’s prompt at making revisions to orders and sending over invoices efficiently."
            </p>
          </div>
          <div class="carousel-item">
            <h5>Bianca</h5>
            <p style="color:white" class="s1">"We used Luxe Dream for our wedding and the letter/service was awesome! It
              allowed us to create a look that felt personalized and relaxed. We had so many people say how lovely the
              lounge areas and the whole atmosphere was."
            </p>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br> <br>
    </div>
  </div>
</div>
