    <div class="row mb-3 productdiv" *ngFor="let prod of prodsInCart; index as i">
      <div class="col-4 col-sm-4 col-md-4 col-lg-3" *ngIf="prod.url">
        <img src="http://luxedreameventhire.co.nz:5000/{{prod.url}}" class="cartProdHeight">
      </div>
      <div class="col-8 col-sm-8 col-md-8 col-lg-9">
        <div class="divdetails"><span class="m2">{{prod.Title}}</span></div>
        <div class="divdetails">Unit Price: ${{prod.Price/prod.Quantity}}</div>

        <div>
          Amount:
          <div class="number-input">
            <i class="fas fa-minus" (click)="quantityMinus(i)"></i>
            <input #quantityInput class="quantityInput quantity" value={{prod.Quantity}} (change)="quantityChanged($event,i)" type="number" min="1" />
            <i class="fas fa-plus" (click)="quantityPlus(i)"></i>
          </div>
          <div class="invalid_feedback mt-3" role="alert" *ngIf="prod.Quantity > prodsInCart[i].availableStock " >
            Only {{prodsInCart[i].availableStock}} are available. Please contact us if you need more!
          </div>
        </div>

        <div class="bg-gray divdetails"> NZ${{prod.Price}}</div>
        <div class="mt-2 divdetails">
          <button class="btn btn-outline-blue" [routerLink]="[ '/product/', prod.ProdId ]">View Detail</button>
          <button class="btn btn-outline-red" (click)="deleteCart(i)" style="float:right;">Delete</button>
        </div>
      </div>
    </div>

    <div *ngIf="prodsInCart.length==0">
      <br>
      <br>
      <span class="s2">You don't have anything in your shopping cart yet!</span> <br>
      <button class="btn btn-outline-gold mt-3" routerLink="/hire">View Our Products</button>
      <br>
      <br>
    </div>
    <div class="text-right mb-2" *ngIf="totalPrice!=0">
      Total Price: NZ$<span class="s2bold">{{totalPrice}}</span>
    </div>
    <div class="justify-content-end mb-3" *ngIf="prodsInCart.length!=0">
      <button class="btn btn_gold btn-sm" routerLink="/" type="button">
        <i class="fas fa-arrow-left"></i>&nbsp;Continue Shopping
      </button>
    </div>
    <br><br>
