img{
    width:100%;
}
.bg-gray{
    background-color: rgb(245, 243, 243)
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
.cartProdHeight{
    height: 150px;
}
@media (max-width:767px){
    .cartProdHeight{
        height: 120px;
    }
}