<style>
	.wrap {
		width: 80%;
		margin: 0 auto;
	}
	.wrap>* {
		width: 100%;
	}
	#logowrap {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#ButtonsWrap {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-top: 10px;
	}
	.mat-form-field {
		display: block;
	}
	.primaryButton {
		background-color: #c48f45;
		color: white;
	}
	mat-form-field {
		display: block;
		margin-bottom: 10px;
	}
	mat-dialog-actions {
		display: block;
	}
</style>

<!-- Sign up form for users -->
<div class=wrap>
	<div id="logowrap">
		<img src="../../../../assets/images/Asset1-4x-mid.png" alt="logo" width="150px">
		<hr>
		<h5 mat-dialog-title>Sign Up</h5>
	</div>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
    <mat-dialog-content>
		<mat-form-field>
			<input matInput placeholder="Email address" formControlName="username" required>
			<mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Confirm Password" formControlName="confirmpassword"
				[type]="hide ? 'password' : 'text'" required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>

			<mat-error *ngIf="confirmpassword.invalid">{{getErrorMessage3()}}</mat-error>
		</mat-form-field>
		</mat-dialog-content>

		<mat-dialog-actions>
			<div id="ButtonsWrap" class="mb-3">
				<button mat-raised-button color="basic" mat-dialog-close>Cancel</button>
				<button mat-raised-button type="submit" class="mx-2 primaryButton">Sign Up</button>
			</div>
		</mat-dialog-actions>
		<hr>
	</form>
	
	<div id="ButtonsWrap">
		<p>Already have a account?</p>
		<button mat-raised-button (click)="loginDialog()" class="primaryButton">Log in now!</button>
	</div>
</div>