th{
    position: sticky;
    top:0;
    z-index:99;
    text-align:center;
}
th:first-child{
    width:56px;
}
td{
    text-align:center;
}
.table-secondary  span{
    font-size: 10px;
}
.table td{
    padding: 0.4rem;
}
.far.fa-trash-alt:hover{
    color:red;
    cursor: pointer;
}
.far.fa-edit:hover{
    color:rgb(55, 162, 233);
    cursor: pointer;
}
.eventTypeImage {
    height: 100px;
    width: 100px;
}
.eventTypeImageEditor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.eventTypeImageEditorBlocks{
    width: 50%;
}
.btn.eventTypeImageToggle:focus,.btn.eventTypeImageToggle:active {
    outline: none !important;
    box-shadow: none;
 }
 .card.eventTypeImageToggle {
     border:0px;
 }