.pb-30 a{
    color: white;
}
.gallaryBlocks{
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.pb-30{
    padding-bottom:30px;
}