<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
    <!-- Question -->
    <div class="form-group">
        <!-- <div class="invalid_feedback" *ngIf="Question.errors?.required && Question.touched">Please enter your Question</div> -->
        <!-- <input class="form-control" type="Question" required minlength="6" name="Question" placeholder="Question *" 
        [ngClass]="{'is-invalid':Question.errors?.required && Question.touched}" [(ngModel)]="faqForm.Question" #Question="ngModel"> -->
        Question:
        <textarea cols="70" rows="2"  class="form-control" type="Question" name="Question" placeholder="Question *" [(ngModel)]="faqForm.Question" #Question="ngModel"></textarea>
     </div>
     <!-- Answer -->
     <div class="form-group">
        <!-- <div class="invalid_feedback" *ngIf="Answer.errors?.required && Answer.touched">Please enter your Answer</div>
        <input class="form-control" type="tel" required minlength="7" name="Answer" placeholder="Answer *" 
        [ngClass]="{'is-invalid':Answer.errors?.required && Answer.touched}" [(ngModel)]="faqForm.Answer" #Answer="ngModel"> -->
        Answer:
        <textarea rows="5" cols="70" class="form-control" name="Answer" placeholder="Answer *" [(ngModel)]="faqForm.Answer" #Answer="ngModel"></textarea>
     </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" *ngIf="status == 'update'">Save</button>
    <button class="mat-raised-button mat-primary"(click)="create()" *ngIf="status == 'create'" [disabled]="faqForm.Answer == '' || faqForm.Question == ''">Create</button>
</mat-dialog-actions>