mat-form-field	{
	display: block;
}
p {
	font-size: 1.1rem;
}
span {
	color: #c48f45;
}
mat-tab-group {
	margin: 0 auto;
	margin-top: 1%;
}
#buttonsWrap {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}