<div class="container">
	<mat-tab-group dynamicHeight  mat-align-tabs="center">

		<!-- Tab 1 -- User Profile -->
		<mat-tab label="Your Profile">
			<app-user-profile></app-user-profile>
		</mat-tab>

		<!-- Tab 2 -- Order History -->
		<mat-tab label="Order History">
			<app-order-history></app-order-history>
		</mat-tab>

		<!-- Tab 3 -- User Settings -->
		<mat-tab label="Manage Password">
			<app-manage-password></app-manage-password>
		</mat-tab>
	</mat-tab-group>

	<div id="buttonsWrap">
		<button mat-raised-button routerLink='/home'>OK</button>
	</div>
</div>

<style>
	mat-tab-group {
		margin: 0 auto;
		margin-top: 1%;
	}
	#buttonsWrap {
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
</style>