mat-dialog-content {
	max-height: 750px;
    overflow: hidden;
}
h5 {
	color: #c48f45;
	font-size: 1.5rem;
}
input{
    width: 300px;
}
th{
    position: sticky;
    top: -15px;
    z-index: 99;
	text-align: center;
}
#tableWrap {
    max-height: 610px; 
    overflow-y: auto;
}
#name:hover {
    color: #caa26b;
    text-decoration: none;
}
.closeButton {
    position: absolute;
}