<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
   <div class="row">
      <div class="col-md-6 col-xs-12">
         <div class="row">
            <div class="col-12">
               <h5>Customer info 客户信息:</h5>
            </div>
            <div class="col-6">First Name</div>
            <div class="col-6">Last Name</div>
            <div class="form-group col-6">
               <input class="form-control" name="firstName" [(ngModel)]="contactForm.firstName" #firstName="ngModel">
            </div>
            <div class="form-group col-6">
               <input class="form-control" name="lastName" [(ngModel)]="contactForm.lastName" #lastName="ngModel">
            </div>
            <div class="col-6">Email</div>
            <div class="col-6">Phone number</div>
            <div class="form-group col-6">
               <input class="form-control" name="email" [(ngModel)]="contactForm.email" #email="ngModel">
            </div>
            <div class="form-group col-6">
               <input class="form-control" name="phoneNum" [(ngModel)]="contactForm.phoneNum" #phoneNum="ngModel">
            </div>
            <div class="col-12">Customer Message</div>
            <div class="form-group col-12">
               <textarea rows="4" cols="50" class="form-control" name="phoneNum" [(ngModel)]="contactForm.message"
                  #phoneNum="ngModel" style="white-space: pre-line"></textarea>
            </div>
            <div class="col-12">
               <button class="btn btn-primary" (click)="updateContact()" [disabled]="isLoading==true">Save Customer
                  Changes 保存客户信息</button>
            </div>
         </div>
      </div>


      <div class="col-md-6 col-xs-12">
         <h5>Order and Event Location 活动&订单地址</h5>
         <input class="form-control" type="text" name="location" [(ngModel)]="cartForm.location" #location="ngModel">
         <br>
         <!-- Allow uer to change start and end date of event  -->

         <h5> Event dates 活动日期 </h5>
         <mat-form-field class="col-md-6">
            <input matInput [matDatepicker]="myDatepicker1" placeholder="Start date"
               [(ngModel)]="cartForm.eventStartDate" #eventStartDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker1></mat-datepicker>
         </mat-form-field>

         <mat-form-field class="col-md-6">
            <input matInput [matDatepicker]="myDatepicker2" placeholder="End date" [(ngModel)]="cartForm.eventEndDate"
               #eventEndDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
         </mat-form-field>
         <br>
         <!-- List of products & items for this order -->
         <h5>Items for this Order 本单物品</h5>

         <table style="width:100%">
            <tr>
               <th style="width:70%">产品名</th>
               <th>数量</th>
               <th>单价</th>
               <th></th>
            </tr>
            <!-- Add link to product (when user click on product title -->
            <tr *ngFor="let prod of cartProdList">
               <td style="font-size:11px;"><a style="color:black"
                     [routerLink]="['/product', prod.prodId]">{{prod.title}}</a></td>
               <td><input #prodQuantity type="number" style="width:50px"
                     (click)="updateQuantity(prod,prodQuantity.value)" value="{{prod.quantity}}"></td>
               <td>{{prod.price}}</td>
               <td><button class="btn btn-danger" (click)="deleteCardProd(prod.id)">X</button></td>
               <!-- Add button to trigger a popover that allows user to change quantity of product -->
               <!-- This change needs to be validated, that it is of a minimum of 1 -->
            </tr>
         </table>
         <div class="ml-1 mt-1">
            <mat-form-field style="width:50%">
               <mat-label>Prod Id</mat-label>
               <input matInput #prodId placeholder="Ex. 220">
            </mat-form-field>
            <br>
            <mat-form-field style="width:50%">
               <mat-label>Id</mat-label>
               <input matInput #detailId #detailId placeholder="Ex. 220">
               
            </mat-form-field>
            <br>

            <button mat-raised-button type="button" (click)="searchProdId(prodId.value,detailId.value)" class="searchButton">Add
               Product</button>
         </div>
         <!-- At end, allow user to add new product by searching the new product's productID and entering a quantity -->
         <br>

         <div class="row">
            <div class="col-12">
               <h5>Payment info 付款信息:</h5>
            </div>
            <div class="col-12">Rental Fees Paid（Amount Due：${{rentalFees}}）</div>
            <div class="form-group col-6">
               <input class="form-control"  name="rentalFeesPaid"[(ngModel)]="rentalFeesPaid" >
            </div>
            <div class="col-12">Bond Fees Paid （Amount Due：${{depositFees}}）</div>
            
            <div class="form-group col-6">
               <input class="form-control" name="depositFeesPaid" [(ngModel)]="depositFeesPaid" >
            </div>
            <div class="col-12">Transport Fees Paid</div>
            
            <div class="form-group col-6">
               <input class="form-control" name="transportFeesPaid" [(ngModel)]="deliveryFees">
            </div>
         </div>


         <button class="btn btn-primary" (click)="updateCart()" [disabled]="isLoading==true">Save Order Changes
            保存订单信息</button>
      </div>
      <br>
      <hr>
      <br><br><br><br><br><br><br>
   </div>

</mat-dialog-content>
<br>
<mat-dialog-actions>
   <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
</mat-dialog-actions>