/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face{
    font-family: Oxygen;
    src:url(assets/fonts/Oxygen-Regular.ttf) format("opentype");
}
@font-face{
    font-family: GreatVibes;
    src: url(assets/fonts/GreatVibes-Regular.ttf) format("opentype");
}
.gold{
    color:#c48f45
}
/* nav bar style start */
/* https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap */

 /* General Font style Section Start */
.j1{
    font-size:4.5vw;
    font-weight: 700;
    color:white;
    font-family: 'GreatVibes', cursive;
}
@media (max-width: 576px) {
    .j1{
        font-size:32px;
    }
}
@media (max-width: 576px) {
    .fc-time-grid-container {
        height: 12rem !important;
    }
}

.l0{
    font-size: 50px;
    font-weight: 700;
    color:#363636;
}
.l1{
    font-size: 40px;
    font-weight: 700;
    color:#363636;
}
.l2{
    font-size: 30px;
    font-weight: 700;
    color:#363636;
}
.m1{
    font-size:25px;
    color:#525252;
    font-weight: 700;
}
.m2{
    font-size:21px;
    color:#525252;
    font-weight: 700;
}
.s1{
    font-size:18px;
    color:#535353;
}
.s1gold{
    font-size:18px;
    color:#c48f45;
}
.s1bold{
    font-size:18px;
    color:#535353;
    font-weight: 700;
}
.s1goldbold{
    color:#c48f45;
    font-size: 18px;
    font-weight: 700;

}
.s2{
    font-size:15px;
    color:#535353;
}
.s2bold{
    font-size:15px;
    color:#535353;
    font-weight: 700;
}
.s2gold{
    color:#c48f45;
    font-size: 15px;
}
.s2goldbold{
    color:#c48f45;
    font-size: 15px;
    font-weight: 700;
}
.s3{
    font-size:10px;
    color:#535353;
}
.s3gold{
    font-size: 10px;
    color:#c48f45;
}
.s3bold{
    font-size:13px;
    color:#4b4b4b;
    font-weight: 700;
}
.lspace-3{
    letter-spacing: 3px;
}
.lspace-5{
    letter-spacing: 5px;
}
.error-feedback{
    color:#b30000;
    font-size: 18px;
    text-align:center;
}
.invalid_feedback{
    color:red;
    font-size: 12px;
}

/* General Button styles */
.btn.btn_gold{
    font-weight: 700;
    border-radius: 3.5px;
    border-width: 2px;
    border-color: #c48f45;
    border-style: solid;
    color: white;
    background: #c48f45;
}
.btn.btn_gold:hover{
    color:white;
    background: #cf984b;
}

.btn.btn-outline-gold{
    font-weight: 700;
    border-radius: 3.5px;
    border-width: 2px;
    border-color: #c48f45;
    border-style: solid;
    color: #c48f45;
}
.btn.btn-outline-gold:hover{
    background-color: #c48f45;
    color: white;
}
.btn.btn_gold_large{
    font-size: 20px;
    border-radius: 3.5px;
    margin-bottom: 13px;
    font-weight: 700;
    color: #c48f45;
    border-color: #c48f45;
    border-width: 2px;
}
.btn.btn_gold_large:hover{
    background-color: #c48f45;
    color: white;
}
.btn{
    cursor:pointer;
}
