.smallImg{
    width:100%;
}
.smallImg:hover{
    cursor: pointer;
}
#shadow{
    display: none;
    position: absolute;
    top:0px;
    background-color: #000;
    opacity: 0.3;
    height: 250px;
    width: 250px;
}
#showDetails{
    width:500px;
    height: 500px;
    position: absolute;
    top:0;
    display: none;
    overflow: hidden;
    z-index: 99;
}
#showDetails img{
    position: absolute;
    zoom:1.5;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.h490{
    /* height: */
    position: relative;
    padding-top: 100%;
    width:100%;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.prodImg img {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    object-fit: cover;
}

.autofix{
	width: 100%;
    height: 100%;
    object-fit: cover;
}