.smallImg{
    width:100%;
}
.smallImg:hover{
    cursor: pointer;
}
#shadow{
    display: none;
    position: absolute;
    top:0px;
    background-color: #000;
    opacity: 0.3;
    height: 250px;
    width: 250px;
}
#showDetails{
    width:500px;
    height: 500px;
    position: absolute;
    top:0;
    display: none;
    overflow: hidden;
    z-index: 99;
}
#showDetails img{
    position: absolute;
    zoom:1.5;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.autofix{
	width: 100%;
    height: 100%;
    object-fit: cover;
}