<div class="container-fluid" #container>
  <div class=" px-0 px-md-5 mx-2">
  <div class="row mt-5"><div class="col-12 s2goldbold"><a (click)="backClicked()"> Dinnerware and Glassware </a> / Golden Glassline Plate</div></div>
  <div class="row my-5">
  <div class="col-12 col-md-6 col-lg-6 p-0">
    <!-- <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" (mousemove)="mouseMove($event)"> -->
    <div style="height:500px; overflow: hidden">
        <img src="../../../../assets/Products/{{prodMediaUrl}}.jpg" class="d-block autofix" id="small" #small>
        <!-- <b id="shadow" #shadow></b> -->
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-3 pr-0"><img class="smallImg" src="http://localhost:56662/ImgTest/test1.png" (mouseover)="changeImg($event)" ></div>
      <div class="col-3 pr-0"><img class="smallImg" src="http://localhost:56662/ImgTest/test2.jpeg" (mouseover)="changeImg($event)"></div>
      <div class="col-3 pr-0"><img class="smallImg" src="http://localhost:56662/ImgTest/test3.jpeg" (mouseover)="changeImg($event)"></div> -->
      <!-- <div class="col-3 pr-0"><img class="smallImg" src="../../../../assets/images/productImg1.jpeg" (mouseover)="changeImg($event)" ></div>
      <div class="col-3 pr-0"><img class="smallImg" src="../../../../assets/images/productImg2.jpeg" (mouseover)="changeImg($event)"></div>
      <div class="col-3 pr-0"><img class="smallImg" src="../../../../assets/images/productImg3.png" (mouseover)="changeImg($event)"></div> -->
    </div>
  </div>
  <!-- <div *ngIf="!productDetail || productDetail.length == 0">This product is unavailable right now. Sorry</div>
  <div class="col-5" *ngIf="productDetail">
    <div class="m2">{{productDetail.Title}}</div>
    <div>$<span class="s1">{{productDetail.Price}}</span></div>
    <br/>
    <div class="s2">{{productDetail.Description}}</div>
    <br/>
    <div class="row justify-content-between">
      <div class="col-6">
        Quantity:<input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
         type="number" [value] = "quantity"  min="1" max="{{productDetail.TotalStock}}" [(ngModel)]="quantity" (ngModelChange)="quanCheck($event)" 
        maxlength= "{{quantityLength}}"> 
        <span class="s3">({{productDetail.TotalStock}} in stock)</span>
      </div>
      <div class="col-4" *ngIf="inCart==1"><button class='btn btn_gold float-right' (click)="addToCart()">Add to cart</button></div>
      <div class="col-4" *ngIf="inCart==2"> Successful</div>
      <div class="col-4" *ngIf="inCart==3"> Error</div>

    </div>
    <div *ngIf="!quantityFilled">Please enter Quantity</div>
  </div> -->
  <div *ngIf="productDetail" class="col-12 col-md-6 col-lg-6 pl-lg-5">
    <!-- large part of img -->
    <!-- <div id="showDetails" #showDetails>
      <img src="{{defaultImgUrl}}" alt="" #detailImg>
    </div> -->

    <div class="l2">{{productDetail.title}}<br/></div>
    <div class="my-4">$<span class="s1"> {{productDetail.price}}</span></div>
    <br/>
    <div class="s2 mb-2">{{productDetail.description}}</div>
    <br/>
    <div class="row justify-content-between mt-3">
      <div class="col-8">
        <!-- Quantity:<input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
         type="number" [value] = "quantity"  min="1" max={{productDetail.availableStock}} [(ngModel)]="quantity" (ngModelChange)="quanCheck($event)" 
        maxlength= "{{quantityLength}}">  -->
        Quantity:<input type="number" [value] = "quantity"  min="1" max={{productDetail.availableStock}} [(ngModel)]="quantity">
        <!-- <span class="s3 pl-2"> (only {{productDetail.availableStock}} in stock)</span> -->
      </div>
      <div class="col-4" *ngIf="inCart==1"><button class='btn btn_gold float-right' (click)="addToCart()">Add to cart</button></div>
      <!-- <div class="col-4" *ngIf="inCart==1"><button class='btn btn_gold' routerLink='/shoppingCart'>Add To Cart</button></div> -->
    </div>

   </div>
 </div>
</div>
</div>