i{
    font-size: 17px;
}
.blue-snackbar {
    background: #2196F3;
}
.far.fa-trash-alt:hover{
    color:red;
}
.far.fa-edit:hover{
    color:rgb(55, 162, 233);
}
.nav-item{
    padding-top:20px;
}
.nav-item a:hover{
    cursor: pointer;
    color:rgb(105, 105, 105);
}
th{
    position: sticky;
    top:0;
    z-index:99;
    text-align:center;
}
th:first-child{
    width:56px;
}
td{
    text-align:center;
}
.dashhfont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-secondary  span{
    font-size: 10px;
}
.table td{
    padding: 0.4rem;
}
.eventTypeImage {
    height: 100px;
    width: 100px;
}
.eventTypeImageEditor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.eventTypeImageEditorBlocks{
    width: 50%;
}
/* .eventTypeImageEditorTools{
    display: none;
}
.eventTypeImageEditor:hover > .eventTypeImageEditorTools{
    display: block;
} */