<div class="container-fluid">
    <div class="row">
      <!-- !sidebar -->
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" id="1" (click)="changeBoard($event)">
                <i class="fas fa-user-cog"></i>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="2" (click)="changeBoard($event)">
                <i class="fas fa-shopping-bag"></i>
                Hires
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="3" (click)="changeBoard($event)">
                <i class="fas fa-gift"></i>
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="4" (click)="changeBoard($event)">
                <i class="fas fa-briefcase"></i>
                Packages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="5" (click)="changeBoard($event)">
                <i class="fas fa-folder-open"></i>
                Gallery
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="6" (click)="changeBoard($event)">
                <i class="far fa-question-circle"></i>
                Faq
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="7" (click)="changeBoard($event)">
                <i class="fas fa-shipping-fast"></i>
                Carts
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <!-- !Dashboard -->
        <div *ngIf="blockCode == '1'">
          This is Dashboard<br>
        </div>

        <!-- !Hire || Service || Package-->
        <div *ngIf="blockCode == '2' || blockCode == '3' || blockCode == '4'">
          <div *ngIf="blockCode == 2"><h2>Hires</h2></div>
          <div *ngIf="blockCode == 3"><h2>Services</h2></div>
          <div *ngIf="blockCode == 4"><h2>Packages</h2></div>
          <i class="fas fa-plus" (click)="createProduct()"></i>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th><th scope="col">Title</th><th scope="col">Subtitle</th><th scope="col" *ngIf="blockCode == 2">Category</th>
                <th scope="col">totalStock</th><th scope="col">Description</th>
              </tr>
            </thead>
            <tbody *ngIf="displayData">
              <tr *ngFor="let data of displayData">
                <th scope="row">{{data.prodId}}</th><td>{{data.title}}</td><td>{{data.subTitle}}</td><td *ngIf="blockCode == 2"><div *ngIf="data.category">{{data.category.categoryName}}</div></td>
                <td>{{data.totalStock}}</td><td>{{data.description}}</td>
                <td><i class="far fa-edit" (click)="openProduct(data)" title="Edit"></i></td>
                <td><i class="far fa-trash-alt" title="Delete" (click)="deleteProduct(data)"></i></td>              </tr>
              </tbody>
            </table>
        </div>

        <!-- !Gallery -->
        <div *ngIf="blockCode == '5'">
            <h2>Gallery</h2>
            <i class="fas fa-plus" (click)="createGallery()"></i>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th> 
                  <th scope="col">Customer</th><th scope="col">Event Type</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody *ngIf="displayData">
                <tr *ngFor="let data of displayData">
                  <th scope="row">{{data.prodjectId}}</th><td>{{data.customerName}}</td><td *ngIf="data.eventtype">{{data.eventtype.eventName}}</td>
                  <td>{{data.description}}</td>
                  <td><i class="far fa-edit" (click)="openGallery(data)" title="Edit"></i></td>
                  <td><i class="far fa-trash-alt" title="Delete" (click)="deleteGallery(data)"></i></td>
                </tr>
                </tbody>
              </table>
        </div>

        <!-- !Faq -->
        <div *ngIf="blockCode == '6'">
          <h2>Faq</h2> <i class="fas fa-plus" (click)="createFaq()"></i>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th><th scope="col">Question</th><th scope="col">Answer</th>
                </tr>
              </thead>
              <tbody *ngIf="displayData">
                <tr *ngFor="let data of displayData">
                  <th scope="row">{{data.id}}</th><td>{{data.question}}</td><td>{{data.answer}}</td>
                  <td><i class="far fa-edit" (click)="openFaq(data)" title="Edit"></i></td>
                  <td><i class="far fa-trash-alt" title="Delete" (click)="deleteFaq(data)"></i></td>
                </tr>
                </tbody>
              </table>
        </div>

        <!-- !Cart -->
        <div *ngIf="blockCode == '7'">
          <h2>Carts</h2>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th><th scope="col">CartProds</th><th scope="col">Contact</th> <th scope="col">CreateTime</th>
                  <th scope="col">Location</th><th>Price</th><th>UpdateTime</th>
                </tr>
              </thead>
              <tbody *ngIf="displayData">
                <tr *ngFor="let data of displayData">
                  <th scope="row">{{data.cartId}}</th>
                  <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          View Products
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="data.cartProd">
                          <div *ngFor="let cart of data.cartProd">
                              <div class="dropdown-item">
                                <b>Title:</b>{{cart.title}} 
                                <b>Subtitle:</b>{{cart.subtitle}}
                                <b>Price:</b>{{cart.price}}
                                <b>Quantity:</b>{{cart.quantity}}
                              </div>
                          </div>
                          <a class="dropdown-item" *ngIf="data.cartProd.length==0">Empty</a>
                        </div>
                      </div>
                  </td>
                  
                  <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          View Contact
                         </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item" *ngIf="data.contact">
                                <b>Firstname:</b>{{data.contact.firstName}} 
                                <b>Lastname:</b>{{data.contact.lastName}}
                                <b>Phone Number:</b>{{data.contact.phoneNum}}
                                <b>Email:</b>{{data.contact.email}}
                              </div>
                           </div>
                        </div>
                  </td>
                  
                  <td>{{data.createOn | date:'medium'}}</td>
                  <td>{{data.location}}</td><td>{{data.price}}</td><td>{{data.updateOn | date:'medium'}}</td>
                  <!-- <td><i class="far fa-edit" (click)="openCart(data)" title="Edit"></i></td> -->
                  <td><i class="far fa-trash-alt" title="Delete" (click)="deleteCart(data)"></i></td>
                </tr>
                </tbody>
              </table>
        </div>
      </main>
    </div>
  </div>