.h480{
    height:500px;
}
.gallaryBlocks{
    /* background-image: url("../../../assets/images/productImg2.jpeg"); */
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.pb-30{
    padding-bottom:30px;
}
.h490{
    /* height: */
    position: relative;
    padding-top: 86%;
    width:86%;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
@media (max-width:767px) {
    .h490 {
        padding-top: 100%;
        width:100%;
    }
  }

.h490 img {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    object-fit: cover;

}
.autofix{
	width: 100%;
    height: 100%;
    object-fit: cover;
}