<style>
	#wrap {
		width: 100%;
		margin: 0 auto;
	}
	#LogoWrap {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#FormWrap {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	#ButtonsWrap {
		text-align: center;
		margin-top: 10px;
	}
	.primaryButton {
		background-color: #c48f45;
		color: white;
	}
	mat-form-field	{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
</style>

<div id="wrap">
	<div id="LogoWrap">
		<img src="../../../../../assets/images/Asset1-4x-mid.png" alt="logo">
		<hr>
		<h5>Reset Your Password</h5>
	</div>

	<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
		<div id="FormWrap">
			<mat-dialog-content>
				<mat-form-field>
					<input matInput placeholder="Your email" formControlName="email" required>
					<mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
				</mat-form-field>

				<div id="ButtonsWrap">
					<button mat-raised-button class="primaryButton mt-2">Send Reset Password Email</button>
					<br>
					<button mat-raised-button color="basic" mat-dialog-close class="my-3">Cancel</button>
				</div>
			</mat-dialog-content>
		</div>
	</form>
</div>